[2017-06-02 21:58] brentm5 opened #9 "Issue starting up service after adding dd-trace dependency"
I added the dd-trace artifact into my project using the following below. After adding that I keep getting the issue listed below:

#### Dependency block

[code]

#### Command Line Start Error

[code]

This is a dropwizard service so I am simply running:
[code]

[2017-06-06 22:10] #9 closed, assigned to nobody

[2017-06-15 20:58] eplanet opened #16 "DDAgentWriter wait requires interruption"
When the traced process main finishes, [`DDAgentWriter`](https://github.com/DataDog/dd-trace-java/blob/master/dd-trace/src/main/java/com/datadoghq/trace/writer/DDAgentWriter.java#L122) enters a wait that seems to hang the process and requires an interruption to terminate.

[2017-07-04 12:09] #16 closed, assigned to nobody

[2017-07-24 12:07] gpolaert opened #65 "[Proposal] Overriding/Setting the service name for a specific contribution"
Currently the default service name is supported by the tracer.
PR: #64

The user can set the default service:
- Using the YAML file (default-service-name props)
- Building a new instance of the DDTracer `new DDTracer("service-name", ...)`

## Goal

We want to allow a third way for the user to change the service name at the contribution level. For instance rename `mongo`to `my-app-mongo`service whe

[2018-01-24 16:38] gihad opened #204 "dd.agent.host not being set"
Hi,

Even tho I'm setting `dd.service.name` to `plt-stg-sbd` and `dd.agent.host` to `172.17.0.1`, I'm getting logging output that looks like this:

[code]

The service-name was set successfully but it's still using localhost for tracesEndpoint which is the default value.

[2018-01-26 01:23] #204 closed, assigned to nobody

[2018-02-08 17:40] jonmort opened #222 "DDTracer should allow different ScopeManagers"
For async applications it is necessary to be able to use a different `ScopeManager` other than the default `ThreadLocalScopeManager`. Currently `DDTracer` extends `ThreadLocalScopeManager` which makes it impossible to use a new scope manager. It would be better if `DDTracer` had a `ScopeManager` property that could be overridden by clients.

[2018-02-27 06:12] grv0908 opened #242 "Spans reported independently not in a single Trace"
I have 3 sprint boot microservices (A, B, C) running on separate servers. My request flow is A -> B-> C

Now this is a single request call hitting multiple servers. I should get 3 spans stacked in a trace but spans are reported as 3 separate traces each containing only single spans. how can i correlate all spans together in one trace?

[2018-02-28 22:18] romanleicht opened #244 "ClassNotFoundException while calling AWS S3 Upload"
When I upload to S3 this happens:
[code]

### Environment
OracleJDK 1.8.0_162
com.amazonaws:aws-java-sdk-s3:1.11.263
com.datadoghq:dd-java-agent:0.4.0

[2018-03-02 00:49] tylerbenson commented on #242
This depends heavily on propagating the trace correctly between services.  Supported http frameworks should do this already. If you're not using one of these frameworks, you can manually propagate using OpenTracing's inject and extract API.

[2018-03-02 00:51] tylerbenson commented on #244
Thanks for the report.  We'll take a look.

[2018-03-02 10:32] dashbar commented on #244
Having a same issue with DynamoDB. I think ClassLoader is not functioning very well.

**AWS SDK Version**
[code]

**Java Agent Version**
[code]

**JVM Version**
[code]

**Running Command**
[code]

**Exception**
[code]

[2018-03-02 16:21] zzFluke commented on #244
same issue

[2018-03-02 17:10] realark commented on #244
@romanleicht @dashbar @zzFluke Thanks for reporting this. Can any of you try a fix on a dev machine? You can drop the snapshot jar in over your existing `dd-java-agent.jar`

https://2246-89221572-gh.circle-artifacts.com/0/root/dd-trace-java/build/dd-java-agent/build/libs/dd-java-agent-0.4.1-SNAPSHOT.jar

[2018-03-02 17:16] romanleicht commented on #244
works on my machine :)

[2018-03-02 21:13] realark commented on #244
Thanks for verifying @romanleicht. Fix released in `0.4.1` of dd-trace-java. Upgrading to the latest release will resolve this issue.

[2018-03-02 21:14] #244 closed

[2018-03-04 21:04] praseodym opened #250 "Configuration inconsistent with other APM languages"
While setting up APM for a Java project I naively copied the environment configuration from a Python project. However, it turns out the environment variable names are different: for example, the Java APM agent uses `DD_AGENT_HOST` to configure the agent host, whereas the [Python trace client](http://pypi.datadoghq.com/trace/docs/#get-started) expects to find the agent host in `DATADOG_TRACE_AGENT_

[2018-03-05 02:48] tylerbenson commented on #250
Thanks for the report.  That is certainly something we should work on.  I'll see what we can do.

[2018-03-08 16:47] dashbar opened #257 "Cannot change default environment"
Hi, I'm trying to use `dev` or `staging` as the environment, instead of `none`.

On below document, it says there are 3 ways to change the environment.
https://docs.datadoghq.com/tracing/environments/

I cannot use 3rd way, because I have no control over `okhttp`, `java-aws-sdk`, etc. I tried to use 1st way that sets a host tag.

I'm not sure if I'm looking at a right document, but on below docume

[2018-03-09 10:17] dashbar commented on #257
Closing the issue. Adding an environmental variable `DD_TAGS=env:local` on agent container is working as expected.

[2018-03-09 10:17] #257 closed

[2018-03-12 22:38] #222 closed

[2018-04-03 00:07] n0mer opened #278 "hikari connection pool reported as "unknown service""
traces that belongs to hikari reported as "unknown" service

![image](https://user-images.githubusercontent.com/1862997/38222156-80dae60a-36e3-11e8-8c11-b61aa571ecb6.png)

Is there any way to configure datadog java agent for hikari connection pool, so service will be properly named?

[2018-04-04 03:41] tylerbenson commented on #278
Thanks for the report.  This is on our radar, we just haven't gotten around to hikari specific instrumentation to fix it yet.  Perhaps you'd be interested in submitting a PR?

[2018-04-04 03:43] tylerbenson commented on #242
@grv0908 @n0mer, perhaps you could clarify what frameworks you are using that isn't propagating properly?

[2018-04-11 23:51] n0mer commented on #278
@tylerbenson unfortunately, i'm neither python nor go dev

[2018-04-11 23:54] n0mer commented on #242
@tylerbenson spring-boot 2, grpc-java (netty), spring-webflux, spring-web 5

Actually, i'm still wondering how to see any trace at all for service marked as @datadog.trace.api.Trace or `Scope scope = tracer.buildSpan("my-span")`. Should i set startActive to `true` or `false` :) ?

[2018-04-14 02:30] tylerbenson commented on #278
@n0mer I’m suggesting a PR to this repo, in java. Anyway, no worries. We will get around to it.

[2018-04-14 02:34] tylerbenson commented on #242
Thanks for the clarification on frameworks. We do have work to do on the async frameworks.

For your question, if you set to false, you must manually close the span in addition to closing the scope.

[2018-04-15 00:04] n0mer commented on #278
@tylerbenson  this one https://github.com/DataDog/dd-trace-java/pull/285 ? It is about java 7 & java 9 testing

[2018-04-25 22:43] nhoughto opened #292 "Remove dependency on Guava"
The current `dd-trace-ot` library uses Guava in a few different places for some simple helpers functions around Collections (from what i can see). It would be nice if a library like this, something that anyone who wants to use Datadog APM in Java is forced to depend on, aims to reduce its dependencies as much as possible. Adding Datadog APM is forcing me to add almost 3MB to my application and is

[2018-04-30 12:07] jonmort opened #300 "Ratpack Instrumentation fails with NoClassDefFoundError"
Missing HelperInjector entries and a runtime dependency on Google Collections (which is relocated in the dd-java-agent shadow configuration) cause several NoClassDefFoundErrors to be thrown. Tests do not have this problem.

[2018-04-30 23:57] #300 closed

[2018-05-02 04:22] mwirges opened #304 "Regression in ExecutorInstrumentation v0.7.0?"
What: dd-java-agent v0.7.0

Attempting to run some tests moving from v0.6.0 to v0.7.0 agent, I noticed I was no longer getting trace continuation through an executor service.

Looking at the diff here: https://github.com/DataDog/dd-trace-java/compare/v0.6.0...v0.7.0

It seems that for ExecutorInstrumentation.java the Wrap*Advice methods (intercepting ExecutorService.submit) was changed to only con

[2018-05-02 21:57] jrogers opened #305 "More JAX-RS context in instrumentation"
More of a feature request, but could the class/method names of the invoked resource be added to the span/trace name, or in the attributes? It would provide helpful context.

[2018-05-02 22:02] jrogers commented on #305
I could probably create a pull request for this if I get some time.

[2018-05-03 05:04] tylerbenson commented on #305
@jrogers Thanks for the suggestion.  Would you mind including a screenshot of the UI, and/or some examples of before/after to help me understand better what you're asking for?

[2018-05-03 05:56] tylerbenson commented on #242
@grv0908 @n0mer, are you aware of any publicly available sample apps that we could run to simulate your environment?

[2018-05-03 07:47] nhoughto commented on #292
Perfect, thanks!
This is the sort of issue you don’t expect to be fixed for years, so glad it got done! 👍🏼

[2018-05-03 12:03] n0mer commented on #242
@tylerbenson i've started using `true` for startActive, it solved my isssue.

[2018-05-03 20:10] realark commented on #304
Hi @mwirges, yes it is intentional that the flag be set. However we can explore some options to make things more smooth on your end.

First, some context. Propagating our trace by default can cause problems because the executor instrumentation is too low level to know where to start and stop automatically. This sometimes causes traces to be linked across logical boundaries. We've seen http servers

[2018-05-03 22:08] #292 closed

[2018-05-04 16:50] jrogers commented on #305
So I'm just comparing jax-rs to our ruby tracing. See screenshots attached. In the ruby traces for rails, the rack and rails traces both have the `Api::DocumentsController#show` in the trace name and in the attributes, which lets me easily know what the code path taken was, without knowing how the http path was routed. In JAX-RS land, you can get this from the ResourceInfo context in a filter for

[2018-05-04 21:40] tylerbenson commented on #242
Oh great. Does that mean this issue can be closed?

[2018-05-07 15:01] mwirges commented on #304
@realark yeah understood on not wanting to inadvertently continue unrelated things.   I do think turning it on from servlet instrumentation automatically would be helpful.   Thanks for clarifying on dd-trace-api; I'll give that a whirl in the meantime.

[2018-05-07 15:48] ctoestreich opened #313 "Java agent not working with Spring Boot 2 Reactive (Netty)"
When adding the javaagent to the JVM args and running a spring boot 2 application using

[code]
The following is logged as the agent is started, but running requests against endpoints doesn't produce any traces in the UI.

[code]
## Agent Up
<img width="830" alt="screen shot 2018-05-07 at 10 47 47 am" src="https://user-images.githubusercontent.com/691357/39711033-21fc73a8-51e4-11e8-9f24-9e9befb023

[2018-05-07 16:07] ctoestreich commented on #313
I can confirm that switching to use the following fixes the traces.

[code]

I also tried using a non-flux/mono endpoint when running Netty, but this didn't fix the issue as both of these do not trace when using flux/Netty

[code]

[2018-05-08 01:44] tylerbenson commented on #313
Thanks for your report.  The netty framework is on our short list of things to instrument.  When that is done, we will look into compatibility with Spring Boot 2.

[2018-05-08 06:32] tylerbenson commented on #278
With #314, Hikari should report as `database` instead of `uknown`, but you will also be able to rename the service name to what you like.

[2018-05-09 00:46] tylerbenson commented on #242
I'm going to close this.  Happy to discuss further if you need additional help.

[2018-05-09 00:46] #242 closed

[2018-05-09 23:13] n0mer commented on #278
@tylerbenson can you please provide any detail on what exactly should i do in order to rename the service name?

[2018-05-09 23:16] n0mer commented on #242
@tylerbenson all data is in DataDog already, hence no need to simulate if you can look at baremetal

[2018-05-10 04:09] tylerbenson commented on #278
@n0mer You'll want to add the following system properties (or corresponding environment variables):
* `dd.trace.rename.unknown` as `true`
* `dd.service.mapping` as `database:my-service postgres`

Where the mapping is defined as a comma delimited list of key value pairs, so customize as you see fit.
(Without the first setting, the name would be `unknown` instead of `database`.)

[2018-05-10 05:13] #65 closed

[2018-05-10 10:51] n0mer commented on #278
thanks @tylerbenson

[2018-05-10 23:30] #304 closed

[2018-05-16 15:31] Diagoras opened #325 "ClassCastException with Slick"
Using Slick 3.2.1, I see the following exceptions in the logs:

        at slick.util.ManagedArrayBlockingQueue.offer(ManagedArrayBlockingQueue.scala:13)
        at java.util.concurrent.ThreadPoolExecutor.execute(ThreadPoolExecutor.java:1371)
        at slick.util.AsyncExecutor$$anon$2$$anon$3.execute(AsyncExecutor.scala:120)
        ...
        at slick.basic.BasicBackend$DatabaseDef.runSynchrono

[2018-05-18 03:25] tylerbenson commented on #325
Thanks for the report.  We'll look into it!

[2018-05-18 03:27] tylerbenson commented on #278
I believe a combination of #314 and #322 should resolve this.  I'm going to close it.  Let me know if it needs to be reopened.

[2018-05-18 10:53] n0mer commented on #278
@tylerbenson this issue was raised not by devs, so it is questionable practice to close it w/out validation from reporter :)

Anyway - can you please point to the relevant page at https://docs.datadoghq.com/ that explains how to supply service name of hikari connection pool to datadog agent?

Thanks in advance.

[2018-05-18 10:57] n0mer commented on #278
so `-Ddd.trace.rename.unknown=true -Ddd.service.mapping=database:my-service mysql` should work? Space before `postgres` leads to `postgres` part being ignored

[2018-05-19 11:36] tylerbenson commented on #278
@n0mer I am guessing the space issue is a result over how it’s being interpreted by the shell. Can you try wrapping the mapping config part in quotes?

[2018-05-19 17:44] gary-huang commented on #278
@n0mer I believe that the issue with hikari connection pool being reported as an unknown service was because when the JDBC connection class throws an exception in its constructor, it leads to the actual name of the JDBC driver not being recorded as the service name after recovery, which in your case from your previous comments would be MySQL. #322 should've handled this. Along with configurations

[2018-05-21 17:15] #325 closed

[2018-06-05 20:21] connorwescott42 opened #342 "Issue starting datadog java agent"
Hello,

I am getting an exception when starting the agent on my system. I am able to start my program directly without the agent and no exceptions are thrown.

java -javaagent:dd-java-agent-0.9.0.jar -jar head-app.jar
Exception in thread "main" java.lang.reflect.InvocationTargetException
        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
        at sun.reflect.NativeMethodAcces

[2018-06-05 23:23] tylerbenson commented on #342
@connorwescott42 At that point in the code, the agent tried to write out some jars to be loaded onto the classpath.  This might be caused by the agent being unable to write those to the file system.  Can you try launching your application in a debugger (attaching to it via remote debugging won't work) and seeing if those files were successfully written to the file system?

Thanks!

[2018-06-06 12:36] snusontable opened #344 "ClassCastException"
Following the steps in setting up apm and restarting tomcat we get a nasty exception message in our log:

``
java.lang.ClassCastException: datadog.trace.instrumentation.java.concurrent.ExecutorInstrumentation$CallableWrapper cannot be cast to company.common.asynchronous.immediatetasking.TaskWrapper
    company.common.asynchronous.immediatetasking.WrapperFutureTask.<init>(WrapperFutureTask.java:42)

[2018-06-06 14:23] connorwescott42 commented on #342
@tylerbenson Thanks for your assistance. After placing a breakpoint on the failing line, I noticed that the jars were being stored in "C:\\Windows\\Temp", which is a secure directory. I simply changed my System Environment variable to set TMP and TEMP to a more appropriate value ("%USERPROFILE%\AppData\Local\Temp") and it is working now!

Thanks again.

[2018-06-06 14:23] #342 closed

[2018-06-06 22:00] mar-kolya commented on #344
Hi @snusontable! Thanks for your bug report!

It turns out that we may have been working on a problem that is similar to yours. Could you please try this snapshot version of the agent: https://4867-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.10.0-SNAPSHOT.jar and let is know if that resolves your problem.

Thanks!

[2018-06-07 00:12] tylerbenson commented on #278
@n0mer please confirm that the issue is resolved, or let us know what the current problem is.

[2018-06-07 07:47] n0mer commented on #278
Tyler , if I understood correctly - the solution is to configure agent and
say that any unknown service should be reported as some placeholder name ,
right ?

On Thu, Jun 7, 2018, 02:12 Tyler Benson <notifications@github.com> wrote:

[2018-06-07 09:04] snusontable commented on #344
Hey.
Thanks for the incredibly fast response. Unfortunately we still get the exception and an error:

`EXCEPTION
java.lang.ClassCastException: datadog.trace.instrumentation.java.concurrent.ExecutorInstrumentation$CallableWrapper cannot be cast to company.common.asynchronous.immediatetasking.TaskWrapper
	company.common.asynchronous.immediatetasking.WrapperFutureTask.<init>(WrapperFutureTask.java:42

[2018-06-07 17:20] mar-kolya commented on #344
Hi. Thanks for your response.

I'm sorry to hear that fix we are currently working on doesn't solve your problem.

So it looks like some of the instrumentation DataDog Java agent does may indeed be in conflict with your code. More specifically DataDog Java agent wraps all `Runnable`s and `Callable`s in `ExecutorInstrumentation${Runnable,Callable}Wrapper` in order to be able to trace those calls. I

[2018-06-10 21:47] Diagoras opened #351 "Support instrumenting Spring Sleuth"
While Datadog supports instrumenting Spring Boot applications, it doesn't take into account the detailed trace data generated by the Spring Cloud Sleuth module. One way to deal with this would be for Sleuth to report traces to Datadog's built-in trace API - [something I've created an issue for already](https://github.com/spring-cloud/spring-cloud-sleuth/issues/707). However, it might be nicer for

[2018-06-20 15:25] ctoestreich commented on #278
This is also affect our APM using HikariCP as well.

![screen shot 2018-06-20 at 10 24 32 am](https://user-images.githubusercontent.com/691357/41668122-4276b6e0-7474-11e8-9d67-91ceafae6e73.png)

[2018-06-20 20:13] duke-cliff commented on #313
What's the roadmap for this? We are having the same issue few of reactive services are kind of blind right now.

[2018-06-21 05:00] tylerbenson commented on #313
@duke-cliff @ctoestreich I recently implemented netty support in #352, which was just merged into master.  We will be testing compatibility of that instrumentation with webflux over the next few weeks.  If you'd like to try it out before hand, you can download the snapshot build and enable it by setting this system property at startup: `-Ddd.integration.netty.enabled=true`.  If you do try that out

[2018-06-27 15:58] keki opened #379 "HikariCP: connection.getMetaData().getUserName() fires with each JDBC call"
Using JDBC instrumentation, a `SELECT USER( )` query is sent with each SQL statement, effectively doubling the number of SQL queries sent by the app.

Screenshot from Datadog APM dashboard, after turning on the java agent. The number of requests is equal to the total number of sql queries sent by the app.
![image](https://user-images.githubusercontent.com/1006648/41984922-2fe85c54-7a32-11e8-8487-d

[2018-06-27 18:41] sblumenthalAtBraze opened #380 "Java Agent Causing Jax-RS to error out"
Using the current released Java agent version (0.9.0) WITHOUT enabling the (still in beta) jetty or spark instrumentation causes my jetty application to error out when trying to create outgoing get requests.

The stack trace I get:
[code]

This error DOES NOT occur when the Datadog Java agent is not present on the box. The javaagent string I am using is:
[code]

And the agent running on the box is

[2018-06-27 19:10] realark commented on #380
Hi @sblumenthalAtBraze.

Can you provide the following info:

* version of jetty
* version of jersey-client
* any other library+version in your app

That will tell us where to look to investigate.

[2018-06-27 19:18] sblumenthalAtBraze commented on #380
@realark can do!

Like I said, I am using spark-core 2.6.0. The corresponding jetty and jersey client versions that are pulled from that are:
[code]

Aside from that, the other dependencies for the app are:
[code]

[2018-06-27 19:29] mar-kolya commented on #380
@sblumenthalAtBraze Thanks for your response!

Could you please also try to add `-Ddd.integration.jax-rs.enabled=false` to the JVM arguments and see if that helps that problem at all?

[2018-06-27 19:56] sblumenthalAtBraze commented on #380
@mar-kolya That actually appears to have fixed the issue! Not quite sure why the out of the box integration would cause the problem, but it doesn't appear that any additional data is being lost, so no harm done then!

I will keep an eye on it for now to make sure nothing goes wrong, but it looks like I might be good

[2018-06-27 19:59] mar-kolya commented on #380
@sblumenthalAtBraze Thanks!

I think this gives us some information to look into fixing this properly. I hope this is 'good enough' as a workaround for now.

Thanks for reporting the problem!

[2018-06-27 20:50] gary-huang commented on #379
@keki thanks for the report! The caching mechanism should be kicking in, which version of the java agent are you using?

[2018-06-27 21:40] keki commented on #379
oops, so many version numbers! I forgot to include that one. We're using 0.9.0.

[2018-06-27 23:21] mar-kolya commented on #380
Could you please also share version of your JVM and any logs of the DataDog java agent start up that you can (when `-Ddd.integration.jax-rs.enabled` is set to true)?

Unfortunately so far we cannot reproduce the problem even with exact same library versions that you are using.

Thanks!

[2018-07-02 02:51] gary-huang commented on #379
No worries @keki, it seems that HikariCP creates proxy connection objects, so the actual JDBC connection was not cached, combined with MySQL's JDBC implementation to call the USER() query on every getMetaData.getUserName() call, that is why there is a USER() query for every JDBC query. #382 should fix this, if you want to test out the bugfix and let us know if the issue still persists, here's the

[2018-07-06 17:28] tylerbenson commented on #278
@n0mer is this ready to be closed out?

[2018-07-09 21:06] ctoestreich commented on #379
We are also experiencing this issue.  Before I launch into a bunch of rebuilding and deploying images (which isn't trivial in our case) I will wait to see if @keki can provide any test results.

[2018-07-10 13:52] ctoestreich commented on #278
@tylerbenson  we put in 0.9.0 and this issue has been resolved.

[2018-07-10 13:53] ctoestreich commented on #379
@gary-huang This issue was closed without cutting a release or assigning a milestone/release.

[2018-07-10 15:08] twbarber commented on #379
@gary-huang Also interested in a release with this issue resolved. We've turned off APM in the meantime.

[2018-07-10 17:15] realark commented on #379
Reopening. Will close this issue when the fix ships in the 0.11.0 release early next week.

[2018-07-10 19:42] #278 closed

[2018-07-12 18:37] tylerbenson commented on #380
@sblumenthalAtBraze We are still unable to figure out what is going on here.  Reviewing the code in the framework, it seems impossible to get into this state.  Are you able to reproduce this problem locally?  If so, perhaps you have some time one of us could jump on a call to go through it in a debugger.

Thanks!

[2018-07-20 00:49] mar-kolya commented on #379
0.11.0 has been released, closing.

[2018-07-20 00:49] #379 closed

[2018-07-20 04:59] tylerbenson commented on #351
I created https://github.com/tylerbenson/zipkin-datadog-reporter as an experimental side project, but haven't gotten around to writing docs or publishing to maven.  We are also experimenting with collecting zipkin spans "natively".  This second option is interesting because it wouldn't require code changes by users and could work with any language implementation.

[2018-07-23 12:07] twbarber opened #399 "New org.datadog.jmxfetch.App process created each time datadog-agent start is run"
[code]

These `org.datadog.jmxfetch.App` processes are spun up whenever `datadog-agent` is started, but stopping the agent doesn't seem to stop these processes. We're using AWS ElasticBeanstalk, and I followed [this documentation](https://www.datadoghq.com/blog/deploy-datadog-aws-elastic-beanstalk/#ebextensions-datadog-hooks-99start-datadog-sh) on starting and stopping the `datadog-agent` for the

[2018-07-23 13:58] twbarber commented on #399
As a temporary workaround, we've decided to manually kill the living `jmxfetch` processes on our boxes with `kill $(ps -ef | awk '/jmxfetch/ && !/awk/ {print $2}')`

[2018-07-23 14:00] realark commented on #399
Hi @twbarber Java APM doesn't interact with jmxfetch. Can you move this issue to the jmxfetch repo? Thanks!

https://github.com/DataDog/jmxfetch

[2018-07-25 19:17] ctoestreich commented on #313
I was able to verify that the the APM tracing is not working in a http://micronaut.io application that is based on netty.  I am unable to find anywhere in this repo where the check the actually done for dd.integration.netty.enabled.  Perhaps I missed it, but here is my app stack that isn't working.

https://github.com/tardisoft/micronaut-metrics-example

[2018-07-25 19:29] gihad commented on #313
@duke-cliff Can you please test the latest release of the java datadog agent on one of our Spring Webflux apps and one of our Vert.x apps? Please report your findings here and for @tylerbenson to see. Thank you.

[2018-07-25 19:30] duke-cliff commented on #313
Okay will do

[2018-07-26 03:32] jeacott1 opened #408 "How can I disable the dd tracer in code?"
I am not using the jvm agent.
I am trying to manually use dd-trace-ot 0.11.0 in a spring boot application along with opentracing-spring-cloud-starter.

I want to disable the datadog agent in various profiles and had thought it would be as simple as not instantiating the DDAgentWriter and Tracer beans -ie

[code]

unfortunately it turns out that not declaring this bean makes no difference because t

[2018-07-26 23:54] jeacott1 commented on #408
@tylerbenson yeah that's exactly what I have done. 2hrs vs 10 minutes to run tests just from log output!
would be better to be able to just disable the mech entirely though.

thanks.

[2018-07-26 23:54] tylerbenson commented on #408
I'm confused... Where is the `TracerResolver` being called?  `DDTracerResolver` shouldn't matter unless you're also using `TracerResolver`.

Are you using the `NoopTracer` when that condition is false?

If you want, you can also move the conditional to provide an instance of the `datadog.trace.common.writer.Writer` interface.  When enabled, return the `DDAgentWriter` you're using right now, if not

[2018-07-27 02:41] jeacott1 commented on #408
hmmm, I have tried creating a noOp tracer bean, and even tried manually registering it. makes no difference. the dd Tracer still starts.

[code]

this was pretty much the first thing I tried after realising the Tracer was starting on its own.

What I'd like is a way to disable the TracerResolver and to allow me to manually provide the bean I want.

What would be even better (not a datadog lib issu

[2018-07-27 02:42] jeacott1 commented on #408
hmmm, I have tried creating a noOp tracer bean, and even tried manually registering it. makes no difference. the dd Tracer still starts.

[code]

this was pretty much the first thing I tried after realising the Tracer was starting on its own.

What I'd like is a way to disable the TracerResolver and to allow me to manually provide the bean I want.

What would be even better (not a datadog lib issu

[2018-07-27 04:00] htmldoug opened #410 "Netty 4.0 integration doesn't seem to work"
## Summary
I've followed https://docs.datadoghq.com/tracing/setup/java/, but the Netty 4.0 Client instrumentation doesn't seem to work with Play 2.5 or even just AHC 2.0 by itself.

## Expected result
I expect `x-datadog-trace-id`, `x-datadog-parent-id` headers attached to the outbound HTTP request, and a child span named `netty.client.request`.

I get neither.

## Repro
I've replicated [Netty40Cl

[2018-07-27 04:30] tylerbenson commented on #410
@htmldoug Thanks for the report.  We will look into it.

[2018-07-27 06:45] tylerbenson commented on #408
Are you sure you're not running the `dd-java-agent`?  ;-)

I'm trying to understand what is calling the [resolveTracer()](https://github.com/opentracing-contrib/java-tracerresolver/blob/master/opentracing-tracerresolver/src/main/java/io/opentracing/contrib/tracerresolver/TracerResolver.java#L63) method.  Perhaps there's some spring magic that is initializing the TraceResolver automatically?  Are y

[2018-07-27 07:02] tylerbenson commented on #410
Hey @htmldoug,

I think I might have some ideas as to what is broken.  I was using the `all` dependency for version analysis, which was too broad and resulted in some wrong analysis and causing the instrumentation to not apply.  There was also some issues with classload ordering that we were just looking at before your report came in.

You can see my PR here: https://github.com/DataDog/dd-trace-ja

[2018-07-27 14:02] brentm5 opened #412 "Support for couchbase in java APM"
Couchbase includes memcache functionality, traditional nosql, and an advanced query language so there are a several different buckets this fits into APM perspective.

The link to the offical client is here: https://github.com/couchbase/couchbase-java-client

[2018-07-27 18:32] htmldoug commented on #410
@tylerbenson thanks so much for the quick response, PR, and `-Ddd.writer.type=LoggingWriter` protip!

Does the PR CI publish a snapshot somewhere, or is there an easy way to build one locally? I'm less familiar with gradle and couldn't find build instructions in the repo. My naive attempt with `./gradlew publishToMavenLocal`, didn't work.

[2018-07-30 00:12] jeacott1 commented on #408
I'm definitely not using the java agent. plain spring boot application  with the following related deps:

the opentracing-tracerresolver is what is calling the resolveTracer() and I'm explicitly pulling in the latest here because it has a hook to disable it, but its not appropriate for my case as its global, and requires external config (env or system vars)

[code]

jaeger is here only for local t

[2018-07-30 04:58] tylerbenson commented on #408
@jeacott1 ok, I've added a setting to disable our trace resolver.  Please take a look at #415.

[2018-07-30 19:53] htmldoug commented on #410
I've updated https://github.com/htmldoug/datadog-netty4-failing, pulling in `0.12.0-SNAPSHOT` and removing `netty-all` (you're right, it's not relevant to AHC). Also added logback.

Can't replicate. I still only see the single trace in `LoggingWriter` against 4c88e1a0a844b4192d78fefddc01f076928d6eed: https://gist.github.com/htmldoug/6663c069568a92fa7bcc5bf4c0db6be5.

[2018-07-30 22:49] jeacott1 commented on #408
it would also be great if all the INFO logging could be changed to TRACE for the logwriter output.

[2018-07-31 01:12] jeacott1 commented on #408
my usecase isnt common?
the dd agent doesn't cover many of the services I need to trace (feign, elasticsearch, lettuce redis, manual span roots from scheduled jobs etc), I'd suggest many people will need to use the Manually applied version of this. As such it should not log to datadog from test or other profiles, and it shouldnt require special intervention to prevent it from excessive logging dur

[2018-07-31 02:24] #408 closed

[2018-07-31 02:29] tylerbenson commented on #408
The intended use case for `LoggingWriter` is for debug purposes and displaying the spans to the console.  We can certainly consider adding a no-op writer, since that's what you really want.  Would you mind creating a separate issue for that if it is still important to you?

Now that that branch is merged into master, you can download the latest snapshot from the [snapshot repo](https://oss.jfrog.o

[2018-07-31 02:54] jeacott1 commented on #408
exactly - debug!=info.
I can create another issue. I think it will bug enough other folk it should be changed to at least DEBUG.

Cheers.

[2018-07-31 02:59] jeacott1 opened #421 "Change output from LoggingWriter from INFO to TRACE or DEBUG"
at the moment the LoggingWriter outputs vast amounts of log data as INFO.
it would be great if all the INFO logging could be changed to TRACE for the logwriter output so that folk don't have to isolate the LoggingWriter as special (ie set it to > WARN) for normal operation.

[2018-07-31 07:35] tylerbenson commented on #410
@htmldoug it appears your project is pulling in the snapshot from the snapshot repository.  We don't push branches to the snapshot repo.  Only master is pushed.  My fix hasn't been merged to master, so is only available in the CI artifact link I provided.

In other news, @mar-kolya has a fix for a related bug in #417 that is more generic and so will probably be merged instead of #411 which is what

[2018-07-31 08:33] htmldoug commented on #410
Derp. I mistakenly thought it was merged. I'll sit tight.

[2018-08-01 23:44] jeacott1 commented on #408
well, now that I have a way to disable the auto creation, I can create my own noop writer. so not really a need.

[2018-08-02 19:55] chouze opened #424 "Jax RS Tracing broken"
We upgraded our java agent to version `0.12.0` and noticed that we no longer received any traces for `servlet.request` in the Datadog APM dashboard. To the best of our knowledge we still received all the traces for all other types. We reverted back down to `0.11.0` and started receiving the `servlet.request` traces again. We are running jetty version `9.3.6.v20151106` and jersey version `2.22.1`.

[2018-08-03 05:36] tylerbenson commented on #424
Thanks for the report.  Would it be possible to open a support ticket so you can provide some logs and such?

[2018-08-03 05:38] tylerbenson commented on #410
@htmldoug that PR has been merged to master.  Can you try your app again with `0.13.0-SNAPSHOT`?
Thanks!

[2018-08-03 14:12] chouze commented on #424
Opened ticket #160129 for this issue.

[2018-08-06 07:27] nhoughto opened #429 "Agent doesn't start with read-only filesystem"
Trying to use the tracing agent in a Kubernetes deployed application, that has no runtime writable filesystems. As all disk writes are done during Docker Image build time we don't need writable disk.

The datadog agent seems to need a tmp file to extract / bootstrap some internal dependencies?
Seems to be done here:
https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/src/main/java/d

[2018-08-06 22:28] nhoughto commented on #429
Raised with support as 160696
https://help.datadoghq.com/hc/requests/160696

[2018-08-07 04:40] htmldoug commented on #410
Looking much better with `0.13.0-SNAPSHOT`. Next issue is that it's not linking up all of the spans across different services. Need to investigate further before I can determine if it's related to this or not.

For example, [these](https://app.datadoghq.com/apm/resource/provider-web/netty.request/192109570c1c057f?start=1533601600095&end=1533602284157&paused=true&env=load-test) should all have Orig

[2018-08-07 23:33] tylerbenson commented on #410
I think the first problem is that you're using `span.start()` (https://github.com/htmldoug/datadog-netty4-failing/blob/master/src/main/scala/com/rallyhealth/datadog/DatadogTestApp.scala#L18)
which creates a detached span, so any span created underneath it won't report it as the parent.  When I was testing before, I changed that and was still not seeing them connected.  I wasn't able to dig into it

[2018-08-07 23:38] tylerbenson commented on #429
I will have to discuss this with my team, as I can't think of a clean way of fixing this right now.  Unfortunately the Java API we're using to add classes to the boostrap requires a file on the file system.

[2018-08-07 23:44] htmldoug commented on #410
Thanks for digging into the example app. I'm content that it works well enough.

The screenshot above is from our real apps, and that's where I'm going to focus the rest of my testing, at least until I can narrow the problem down to simpler repro steps.

I'm investigating this today and will keep you posted.

Having worked on a couple implementations of this myself, it's definitely quite tricky.

[2018-08-08 00:49] htmldoug commented on #410
After investigating further, I think you're right that the scala propagation isn't making it across some internal async boundaries in our play 2.5 app. I'd expect to see a purple `netty.request` and `play.request` for the csedge-web play 2.5 service making an http request to the user-web play 2.5 service.

![screen shot 2018-08-07 at 8 46 10 pm](https://user-images.githubusercontent.com/663139/438

[2018-08-08 02:03] nhoughto commented on #429
So were ok with a file, but just not a temporary file. So a way to specify an existing already-extracted file would work for us.

[2018-08-08 02:05] htmldoug opened #432 "Scala trace propagation lost over a play 2.5 BodyParser"
## Repro
Clone failing project: https://github.com/htmldoug/datadog-netty4-failing/tree/master/2-play-scala-seed

[code]

[code]

Expected: One `trace_id` for this request
Actual: Two separate `trace_id` values.
[code]

Formatted:
[code]

[2018-08-08 02:07] htmldoug commented on #410
I've logged that as a new issue, https://github.com/DataDog/dd-trace-java/issues/432. I think it's more of a play-integration issue than a netty issue. I'm pretty satisfied with the netty part.

[2018-08-08 02:07] #410 closed

[2018-08-08 02:13] htmldoug commented on #432
https://github.com/lucidsoftware/opentracing-playframework/pull/2 never got that part working.
I can confirm it does work in Kamon with kamon-play-2.5 and kamon-akka-2.5 0.6.7 on the classpath. There may be some possible inspiration there.

[2018-08-08 03:11] nhoughto opened #433 "Traces not being emitted for custom instrumentation"
Trying to get our APM going with some custom and agent woven instrumentation using a GlobalTracer, running in Java 8 on undertow servlet container. Our custom code is very similar to the example code:

[code]

But these custom events never appear in the APM UI, or the logs via `LoggingWriter`. Digging into your tracing code, it appears `write()` is never being called for these traces in the `expir

[2018-08-08 03:35] nhoughto commented on #433
An update to this, it appears if I disabled agent woven instrumentation via `-Ddd.integrations.enabled=false`, my custom instrumentation starts working as expected (can see it in the logging / UI).

When debugging the `PendingTrace` objects that aren't being written when both custom and agent tracing is happening, I can see a number of spans in one trace, some custom and some agent derived (which

[2018-08-08 23:31] tylerbenson commented on #433
Nice job digging into the details.

My guess is we have some fragile instrumentation that starts a span in one method, assumes it is the active span and rather than maintain reference, retrieves the current active span and finishes it.  This would probably imply that the span you're creating is being finished twice.

It would be helpful to review the set of classes that are modified when you do ha

[2018-08-09 00:07] nhoughto commented on #433
Ok i'll try that, also really hard to debug the agent as it appears to rewrite the class package from `datadog.opentracing` to `datadog.trace.agent.ot` or similar, so IntelliJ has no source during debug, had to manually download the source and repackage all the classes 😢, maybe something to simplify if you want issue debugging to be easier for people =) maybe add both to the agent src jar

[2018-08-09 01:46] nhoughto commented on #433
Ok got them

[code]

[2018-08-09 14:17] codylerum commented on #344
Running into the same issue now after moving from 0.7.0 -> 0.12.0

This is running in a Wildfly 11 container.

2018-08-09 14:11:56,042 SEVERE [org.glassfish.enterprise.concurrent] (EE-ManagedExecutorService-default-Thread-83) java.lang.ClassCastException: datadog.trace.instrumentation.java.concurrent.ExecutorInstrumentation$RunnableWrapper cannot be cast to org.glassfish.enterprise.concurrent.inte

[2018-08-09 18:48] codylerum commented on #344
This is a very standardized Java EE way of executing code.

[ManagedExecutorService](https://docs.oracle.com/javaee/7/api/javax/enterprise/concurrent/ManagedExecutorService.html)

Simply calling ManagedExecutorService#execute and passing in a call that implements Runnable.

[2018-08-09 22:17] tylerbenson commented on #344
@codylerum Thanks for the report.  We will look into it.  It would be helpful if you could provide a snippet of code with how you're interacting with `ManagedExecutorService` (construct, call into, etc)

[2018-08-09 22:30] codylerum commented on #344
@tylerbenson Super simple

https://gist.github.com/codylerum/5341b1f1703708558be255e67ab18ff0

[2018-08-09 22:32] tylerbenson commented on #433
@nhoughto great, thanks.  If you want to build the agent locally, there's a gradle flag to disable the shadow package rename.

Were you able to narrow down at all which integration might be causing the problems?  Here are some to try:
[code]
(Those seem to be the only integrations that are triggering.  Maybe start by re-enabling everything and disable those three and see if it still works.)

One l

[2018-08-10 04:59] nhoughto commented on #433
So the custom tracing works until the JDBC integration is added (the disabling of it is removed 🤔 ).
So its some interaction between JDBC tracing and custom instrumentation, which makes sense i suppose since I can see JDBC spans as part of the PendingTrace object when checking that counter I reference earlier in the issue. Bit of a surprise though as i'd expect JDBC instrumentation to be quite eas

[2018-08-10 13:59] tony-schellenberg opened #437 "JaxRS Client Leaks PendingTraces on Exception"
We have had a problem with a memory leak in one of our applications. After some digging, it appears that it happens with the auto instrumentation of JaxRS clients (Jersey implementation in this case).

If I've tracked it down properly, the ClientRequestFilter is executed creating the span. Then, the networking tries to actually connect to the server which throws an exception and the ClientResponse

[2018-08-11 04:56] tylerbenson commented on #437
Could you clarify what error you're referring to and what fixes it on master (if you know)?

Thanks for digging into the problem.  Next week I'll see if I can reproduce it and figure out a way to solve it.

Meanwhile, you can disable the client instrumentation:
`-Ddd.integration.jax-rs-client.enabled=false`

[2018-08-13 06:53] tylerbenson commented on #305
@jrogers thanks for the suggestion.  Sorry for the delay in implementing it.  Can you take a look at #435?  I believe that should solve your problem.  You can try it out by using the build from the PR:
https://7873-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.13.0-SNAPSHOT.jar

Any other feedback or suggestions?

[2018-08-13 07:03] tylerbenson commented on #313
It appears the netty instrumentation was broken in some cases.  I believe this is resolved by a combination of #411 (released in `0.12.0`) and #417 (which will be released in 0.13.0 -- you can find the snapshot build [here](https://oss.jfrog.org/artifactory/oss-snapshot-local/com/datadoghq/dd-java-agent/0.13.0-SNAPSHOT/dd-java-agent-0.13.0-SNAPSHOT.jar)).

We have tests (#434) that verify the nett

[2018-08-13 08:33] tylerbenson commented on #437
I see the problem and this is a tricky one to solve.  The jax-rs interfaces make this very difficult.  I might need to add some instrumentation at the implementation level.

[2018-08-13 13:32] tony-schellenberg commented on #437
This commit is the one that I believe fixes the memory leak: https://github.com/DataDog/dd-trace-java/commit/e51708023437b168b42e8592e4c12680016126b4#diff-28ebab7e0711a0924cd60c0e28ab0f06R253

If I've read and understood the code correctly, prior to this there were two span cleaners. One that was a static member of the PendingTraces class and another that was instanced in with the start of the sch

[2018-08-13 13:54] tony-schellenberg commented on #437
Looking quickly again at 0.12.0 and the why it seems to be holding the memory I think maybe the SpanCleaner is holding strong references https://github.com/DataDog/dd-trace-java/blob/v0.12.0/dd-trace-ot/src/main/java/datadog/opentracing/PendingTrace.java#L254

[2018-08-13 14:59] chouze commented on #424
Hello, sorry for the delay, I've sent in a few minutes of logs.

[2018-08-13 16:00] duke-cliff commented on #313
@tylerbenson Just verified it's working properly. 👍

[2018-08-13 22:52] tylerbenson commented on #437
@tony-schellenberg the intention is that `PendingTrace` should automatically clean itself up as soon as all pending work is done.  This is tracked via the `AtomicInteger` counter.  The spans are what is referenced weakly.  When they are either finished or GC'd, the counter should be decremented and when it reaches 0, it should be reported.  The notification of a span being GC'd is what is using `W

[2018-08-14 04:40] nhoughto commented on #429
Took a stab at fixing this 🤞

[2018-08-15 05:46] samridhijamuar93 commented on #380
I am able to reproduce this on my local

[2018-08-15 05:47] samridhijamuar93 commented on #380
Seems intermittent though, appears sometimes and sometimes not

[2018-08-15 21:53] duke-cliff commented on #313
This is one more issue, I found the stack could not show our reactive redis calls. I have -Ddd.integration.lettuce.enabled=true in the arguments.

[2018-08-15 23:31] tylerbenson commented on #313
@duke-cliff Would you be able to create a separate issue for this?  It would also help if you could provide a small sample app that demonstrates the problem.  Thanks!

[2018-08-16 15:07] duke-cliff opened #445 "Need support for Spring Boot 2 Reactive Redis Template/Connection"
The previous https://github.com/DataDog/dd-trace-java/issues/313 was solved. We are able to see all API calls with duration. But still I found the Apm service trace does not show the inner redis calls. In Spring Boot 2 we use ReactiveRedisTemplate to make all our redis operations asynchronous as well.

The typical call stack will be something like this:
@GetMapping(...)
Mono<String> restfulApiMeth

[2018-08-21 18:23] rymndhng opened #453 "Cannot stop background threads from creating root spans"
In our application, we have several house-keeping things that happen in the background that we *don't* want to trace in the APM.

There are two instances of us where this is happening:
- For example, the C3POPooledConnectionPoolManager periodically checks if a connection is alive. This ends up being marked as a new trace/span, which we don't want.
- We have some library code that periodically poll

[2018-08-21 18:33] rymndhng opened #454 "Clojure's DynamicClassLoader classes cannot be instrumented"
We're seeing quite a few of these debug messages.

[code]

From experience with NewRelic, we've opted to blacklist the classloader. See http://corfield.org/blog/2016/07/29/clojure-new-relic-slow-startup/

Is this an option we can potentially support?

[2018-08-22 02:13] tylerbenson commented on #453
Thanks for the feedback.  The agent has a way to ignore specific resources. (Search for `ignore_resources` [here](https://docs.datadoghq.com/tracing/setup/))

If this doesn't meet your requirement, do you have a suggestion as how you'd like to see this implemented?

[2018-08-22 05:38] rymndhng commented on #453
Thanks for that suggestion, ignore_resources seems a bit too coarse though.

I am interested in having JDBC/HTTP Clients instrumented, *but* a new span should only when there is already an active span, or in other terms: the instrumented clients should skip creating a span *if* doing so creates a root span.

[2018-08-22 17:00] realark commented on #421
The logging writer is intended to be used with debugging or auditing. Turning it on disables data reporting so it's not a tool that can be used during normal operations.

Silencing the Logging writer can still be accomplished like this `-Ddd.writer.type=LoggingWriter -Ddatadog.slf4j.simpleLogger.defaultLogLevel=off`

Given that other users may rely on the current behavior I don't see much benefit

[2018-08-22 17:00] #421 closed

[2018-08-22 22:47] tylerbenson commented on #453
Ok, thanks for the explanation.  I'll review it with my team.

[2018-08-23 05:32] rymndhng commented on #454
On second thought this may not be desirable. We have a jetty handler from Clojure's Classloader that was instrumented properly.

[2018-08-23 17:45] realark commented on #454
Thanks for reporting that @rymndhng. I guess there can be useful classes to instrument in Clojure's dynamic loader. Good to know.

Generally speaking, having an option to skip user-configured classloaders is something we could add. If this is still something you want to do feel free to submit a PR. Or you can open another issue asking for the feature and we'll prioritize it (disclaimer: it may be

[2018-08-23 17:45] #454 closed

[2018-08-23 23:36] #313 closed

[2018-08-23 23:37] #305 closed

[2018-08-23 23:49] jrogers commented on #305
Sorry I didn't get around to testing this, was working on a different project. I can try it out tomorrow.

[2018-08-24 00:39] tylerbenson commented on #305
I'm doing the release right now, so you should upgrade to `0.13.0` when it's out.

[2018-08-24 15:27] rymndhng opened #458 "Allow option to disable resource.name 404 rewriting"
The datadog documention recommends to reduce the cardinality of the `resource.name`, and most of the instrumentation is cognizant of this. What's the scenario where the Status404Decorator is useful?

The decorator here rewrites 404 responses with a custom `resource.name`. This was very confusing for me because I was expecting to look at the ratio of 404s to non-404s for my resource.

Can we add an

[2018-08-24 20:35] asidorenko-nexonia commented on #344
Running into the same issue here, on Wildfly 10.1 and 0.13.0 of the agent:

java.lang.ClassCastException: datadog.trace.instrumentation.java.concurrent.ExecutorInstrumentation$RunnableWrapper cannot be cast to org.glassfish.enterprise.concurrent.internal.ManagedFutureTask

Our interaction with ManagedExecutorService is also a very simple one:

executor.execute( _code_ );

[2018-08-24 23:59] realark commented on #458
@rymndhng Is this instrumentation for a server? If so how would you know which resource to associate the 404 with?

For example, if you had two endpoints `/my/service` and `/other/service`, where would you expect a request `/a/bad/request` to appear?

[2018-08-25 00:02] realark commented on #344
Thanks @codylerum @asidorenko-nexonia. We're working on a long-term fix. It's a top priority, but the change is deep so it may be a few releases before it's ready.

For now the best workaround is to disable the concurrent instrumentation: `-Ddd.integration.java_concurrent.enabled=true`

[2018-08-27 16:34] rymndhng opened #461 "AWS Client Instrumentation can write sensitive information into `params`."
The AWS Java SDK instrumentation may leak leak PII when the `params` field is populated.

The current implementation iterates through all the request parameters and writes it to a string. In the case of SQS, this extracts the `MessageBody` of a SQS Message which we don't want to show up in DataDog because it may contain PII or other sensitive information.

[2018-09-05 05:13] tylerbenson commented on #412
@brentm5 I added this in #464.  Can you try out the latest snapshot build here: https://oss.jfrog.org/artifactory/oss-snapshot-local/com/datadoghq/dd-java-agent/0.15.0-SNAPSHOT/dd-java-agent-0.15.0-SNAPSHOT.jar

Thanks!

[2018-09-05 05:43] tylerbenson commented on #433
@nhoughto I can't reproduce this and I can't figure out what is causing the problem.  Perhaps you could provide a small sample app that demonstrates the issue?

Thanks!

[2018-09-05 22:33] nhoughto commented on #433
Repro test could be hard, will need to unpick it from the rest of the app 😢

I'll put it on the list and see how hard it is, we are blocked by #429 anyway atm.

[2018-09-07 03:16] tylerbenson commented on #437
@tony-schellenberg please check out #479.  Unfortunately the solution is specific to Jersey and Resteasy, but should at least still help you.
You can get the build from that branch here: https://9190-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.15.0-SNAPSHOT.jar

[2018-09-07 05:49] tylerbenson commented on #424
@chouze We've made a fair bit of changes since `0.12.0`.  I was wondering if you'd be willing to try again.  I don't have any particular reason to think we've fixed it, but I also don't know what is causing it, so I'm kinda hoping it's been unintentionally resolved.  This is the particular log line that is problematic:
[code]
Thanks!

[2018-09-07 05:53] tylerbenson commented on #380
@sblumenthalAtBraze We've made quite a bit of changes since `0.9.0`.  Would you be willing to try again with the latest release and see if the issue has been resolved?
You can also try out [this](https://9213-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.15.0-SNAPSHOT.jar) build from #479 that I did to fix the problem reported in #437 that might help you as we

[2018-09-11 01:15] jrogers commented on #305
BTW, tried out 0.14.0, looks good.

[2018-09-11 01:17] jrogers commented on #424
Looks like this is working again in 0.14.0.

[2018-09-11 01:29] brentm5 commented on #412
It would also be nice to have the bucket name included in the metrics, for example

[code]

[2018-09-12 00:07] tylerbenson commented on #412
@brentm5 I've implemented your first suggestion in #495.  The second, I'll have to review with some other folks on my team.  Thanks for the feedback.

[2018-09-13 05:16] #412 closed

[2018-09-13 05:16] #461 closed

[2018-09-13 05:35] tylerbenson commented on #313
@duke-cliff @ctoestreich Additional Spring Webflux instrumentation has been added to our latest release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.15.0

[2018-09-13 22:48] tylerbenson commented on #437
Ok, no worries.  Thanks for reporting it though.

[2018-09-14 14:23] akhil-karanth opened #497 "Enable client side rate sampling (percentage based)"
I am looking to enable client side rate sampling (sample only a percentage of transactions) in my java service, by following your [documentation](https://docs.datadoghq.com/tracing/getting_further/trace_sampling_and_storage/#client-rate-sampling)
I am looking at this [file](https://github.com/DataDog/dd-trace-java/blob/8dd87a8d30695de5564c4e8fcd24eb6e14e7e056/dd-trace-ot/src/main/java/datadog/trac

[2018-09-17 03:54] tylerbenson commented on #497
Yeah, this is not currently an option in the Java client.  We had it very early on, but removed it in the beta.  We considered adding it back, but you're the first to ask for it.  Could you elaborate why you want the sampling in the client rather than leave it to the agent?

[2018-09-17 14:51] chouze commented on #424
Hi @tylerbenson, I just tried with `0.15.0~71059eac` It seems to be having the same issue as 0.12.0

[2018-09-17 21:45] tylerbenson commented on #424
@choze, darn. I was hopeful. Is it possible for you to provide a small sample app that reproduces the problem?

Can you tell me more about your application environment? Using Spring Boot, OSGi, or some other non-standard classloading setup?

[2018-09-18 14:10] akhilk14 commented on #497
@tylerbenson
If i understand correctly, in agent based sampling, the client sends all the traces to the agent and the agent drops some of them.
We are looking to downsample at the client rather than at the agent level, so that we only send a percentage of the traces/drop at the client as it leads to lower load on the client/lower CPU/less overhead on the application.

[2018-09-18 22:48] tylerbenson commented on #497
@akhilk14 that's understandable. Are you seeing excessive CPU overhead when tracing?  Is that on the agent or client side (or both)?  How many traces per second is a single JVM generating in your application?

[2018-09-19 13:48] akhil-karanth opened #507 "Can we override traceId with custom uniqueId which we currently have?"
I see the traceId being generated in this [code](https://github.com/DataDog/dd-trace-java/blob/c3f7630387c042e1e36ed428bf17ddab46fd1979/dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java#L491).

Is there a way to override this trace id with our own unique id (base 64 UUID), which we currently to track a request across our systems to maintain uniformity.
If yes, will the datadog backend be

[2018-09-21 00:45] tylerbenson commented on #507
There's not an easy way to do this right now.  Your best bet is to add your own ID as a tag on the root span where you can use Trace Search to query for it.

Does that help?

[2018-09-21 00:47] tylerbenson commented on #458
@rymndhng can you explain the circumstance where the 404 being returned by the application is useful to not group together?

[2018-09-24 18:18] htmldoug opened #512 "Failing build on master"
I'm interested in testing the snapshot on master now that #443 is merged, but the build is failing at HEAD: 76876e7d9e00d001e6a56a4637184dd4044a1638. https://circleci.com/gh/DataDog/dd-trace-java/9897?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-09-24 20:58] realark commented on #512
@htmldoug Thanks for your patience. @mar-kolya has fixed the issue.

https://github.com/DataDog/dd-trace-java/pull/513

https://circleci.com/workflow-run/47f0bf27-b0ac-41ab-a7ba-3c7debcffaa6

2a22ee17bbda151682e340813deae8841b60a614

[2018-09-24 20:58] #512 closed

[2018-09-25 13:56] ctoestreich opened #514 "JVM Memory Optimization"
We have run a couple tests on a boot 1.5.X Java 1.8 app that uses tomcat and we have found that when enabling the APM agent we are adding about about 180Mb of ram to the JVM.  There is exactly 2 controllers in addition to the actuator endpoints for a total of ~10 accessible HTTP endpoints, rather small.

A few questions:

- [ ] Is this expected?
- [ ] Have you profiled the APM tool and do you have

[2018-09-26 20:06] tony-schellenberg opened #517 "Errors During Instrumentation (JMS and others)"
Using version 0.15.0 with debug tracing enabled I see quite a few exceptions similar to the following:
[code]

In my particular case, I'm trying to get JMS Producer instrumentation working but I'm not seeing any spans created for it. I am getting my JaxRS server spans, HttpURLConnection, etc but not JMS.

I'm guessing that something is failing with the instrumentation and that's why it's not worki

[2018-09-26 21:29] nilsdaniel commented on #514
I might add to this. We have been relying on data-dog (and the Java APM / dd-agent) to monitor large scale Atlassian Jira instances. Running a re-index db-read/io-write heavy processes resulted in unexpected high amounts of memory being allocated (and never freed) in the JVM. An instance that usually re-indexes smoothly with ~ 6gb of Xmx required 48g Xmx all of a sudden. It took a while to figure

[2018-09-27 15:43] ctoestreich commented on #514
@nilsdaniel When you disable the APM javaagent did the issue resolve?

[2018-09-27 16:19] realark commented on #517
@tony-schellenberg I don't think failing to resolve `net.bytebuddy.dynamic.Nexus` would affect the JMS instrumentation. I think in this case that's not actually an error due to the class being dynamically generated.

I can take a look through your full debug log if you can send those.

[2018-09-27 16:32] nilsdaniel commented on #514
Yes it does. I’ll attach a screenshot of the same indexing-run without the agent later. Overall memory averaged at ~ 3g.

[2018-09-27 16:38] realark commented on #514
@nilsdaniel @ctoestreich

Have you guys been able to reproduce this on the latest version of the tracer? We've recently made some improvements to our class info cache: https://github.com/DataDog/dd-trace-java/pull/468

If the problem persists can each of you open up a support ticket with a heap dump and debug logs so we can diagnose further?

The number of classes and classloaders is the biggest f

[2018-09-27 17:58] nilsdaniel commented on #514
Hi Andrew,

the issue is not solved in 0.15. Please see Screen Shot attached.

<img width="1592" alt="screenshot 2018-09-27 at 19 56 24" src="https://user-images.githubusercontent.com/391838/46164968-aa6a3880-c28f-11e8-8b5a-30e1506ec91c.png">

[2018-09-27 20:28] tony-schellenberg commented on #517
I think I can do that. Do you just need all the DataDog lines?

[2018-09-27 20:30] realark commented on #517
Yes, that will do it. Thanks!

[2018-09-27 20:42] tony-schellenberg commented on #517
I'm just looking at the logs. Is there a secure way for me to transfer them to you? I don't think there's anything sensitive in them but it's probably better. Should I open a ticket with support and provide them there and give you the ticket number here?

[2018-09-27 21:13] realark commented on #517
Yeah going through the support system and posting the ticket number is the best way to get those logs to me.

[2018-09-27 21:14] realark commented on #514
@nilsdaniel That's pretty high! Can you send logs and a heapdump through datadog support?

[2018-09-27 21:59] tony-schellenberg commented on #517
I have posted a log to ticket #171383

[2018-09-27 23:16] ctoestreich commented on #514
We are also on 0.15.0

[2018-09-28 00:05] realark commented on #517
I took a look through the logs. I think the missing `Nexus` class is a red herring. I don't see the JMS Instrumentation attempting to apply. Which JMS client (and version) are you running with?

[2018-09-28 13:21] nilsdaniel commented on #514
We can't share heap-dumps (due to data privacy concerns). What kind of logs would you need?

Btw. here is how it should look like.

<img width="1592" alt="screenshot 2018-09-26 at 21 40 14" src="https://user-images.githubusercontent.com/391838/46210817-1ac99600-c332-11e8-80c5-0d9f9ecd2723.png">

[2018-09-28 14:51] tylerbenson commented on #514
For both of these situations (especially if you can't provide heap dumps), I think it would be useful to identify which integrations are running (probably identifiable in your application logs by [enabling debug logging](https://docs.datadoghq.com/tracing/advanced_usage/?tab=java#debugging) for the javaagent).  You can then disable all of the integrations, and enable 1-2 at a time to help narrow d

[2018-09-28 15:09] tylerbenson commented on #517
@tony-schellenberg Is that even available in maven central?  I only see version 4.2+ [there](https://mvnrepository.com/artifact/com.sun.messaging.mq/imq).
We'd be happy to run it through some tests to verify compatibility, but that becomes a challenge if it's not in maven central.

[2018-09-28 15:33] tony-schellenberg commented on #517
I don't know if it's there or not. We had the product since before it was OpenMQ back when it was paid. We have our own Maven server that mirrors maven central but also has other artifacts so this one might not be generally available.

Given that it supports the javax.jms interfaces, can you think of a reason that it wouldn't instrument? Is there something that I can look for in it or a way that I

[2018-09-28 15:42] tylerbenson commented on #517
@tony-schellenberg When running with debug logging enabled, I'd expect to see these kinds of messages:
[code]

Another message you should search for in the logs is `Instrumentation muzzled`, which might give indication as to why the library might be skipped.

[2018-09-28 16:17] tony-schellenberg commented on #517
I can't see anything in the logs referring to instrumentation being muzzled.

Looking at this https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/instrumentation/jms/src/main/java/datadog/trace/instrumentation/jms/JMSMessageProducerInstrumentation.java#L41

I unpacked the imq library and did a bit of digging. There is a concrete implementation that implements javax.jms.MessageProduc

[2018-09-28 16:39] realark commented on #517
Generally the way our instrumentation works:

1. A matcher sees a class it could potentially instrument (like in your jms-producer link)
2. The classpath is checked to ensure it's safe to apply instrumentation.
3. Instrumentation applies or logs a failure to apply.

Any of these stages would have produced something in the log file.

I think the issue is we're skipping instrumentation because the c

[2018-09-28 16:46] tony-schellenberg commented on #517
I think you might have figured it out. The one class I'm looking at so far is com.sun.messaging.jmq.jmsclient.MessageProducerImpl

[2018-09-28 16:51] realark commented on #517
Great, that explains it. We should be good to whitelist `com.sun.messaging.`. Do you think that will cover your client's namespace?

[2018-09-28 17:15] realark commented on #437
Fix shipped in 0.16.0

[2018-09-28 17:15] #437 closed

[2018-09-28 17:15] realark commented on #432
Fix shipped in 0.16.0

[2018-09-28 17:15] #432 closed

[2018-09-28 17:33] tony-schellenberg commented on #517
From what I can see of it, I think that should be good. Thanks for helping me out with this.

[2018-09-28 17:34] tony-schellenberg commented on #437
Great! Thanks.

[2018-10-01 09:33] nilsdaniel commented on #514
Hi Tyler,

even with all integrations disabled there is some added load, although it looks way better. What integrations are enabled by default?

Cheers,

Daniel

<img width="1548" alt="screenshot 2018-09-28 at 17 50 15" src="https://user-images.githubusercontent.com/391838/46281022-ca3e7c80-c56d-11e8-9a0a-156dd7984a4c.png">

[2018-10-01 17:21] tylerbenson commented on #514
@nilsdaniel almost all of them are enabled by default.  I'd suggest start with the ones that look interesting to you and likely to apply to your application and go from there.

[2018-10-01 17:27] realark commented on #514
@nilsdaniel To clarify, most integrations are enabled by default, but the only ones that apply are specific to your stack.

You can find the integrations that applied by looking for this debug log message:

[code]

[2018-10-01 17:32] nilsdaniel commented on #514
@realark @tylerbenson is there a list of the default integrations documented somewhere? Or do we have to dig through this repo?

[2018-10-01 17:33] realark commented on #514
@nilsdaniel All integrations are documented here: https://docs.datadoghq.com/tracing/setup/java/#integrations

You'll still need to check your logs to see what applies because that is determined by your runtime.

[2018-10-10 17:36] drobert opened #528 "ability to toggle java tracing"
I realize that typically the agent is toggled on or off by virtue of adding/removing the requisite `-javaagent` argument. In some environments, like heroku, it's fairly tricky to to enable the agent in one place and disable it in another.

This is feature request to support something like `trace.enabled` flag (`DD_TRACE_ENABLED` environment variable, etc.) that would completely disable tracing.

A

[2018-10-15 22:35] aesy opened #532 "Trace id can't be decoded by agent due to being transmitted as float"
My team is currently experimenting with tracing a system that in part consists of Python and Java applications. On the Python side of things we use [dd-trace-py](https://github.com/DataDog/dd-trace-py/). All outgoing requests include the following headers for distributed tracing:
`{
        'x-datadog-trace-id': str(tracer.current_span().trace_id),
        'x-datadog-parent-id': str(tracer.current

[2018-10-16 01:33] tylerbenson commented on #532
@aesy Thanks for the report. From your investigation, do you see something that can be changed inside the java tracer to improve the situation besides waiting for better handling in `msgpack-java`?

[2018-10-16 08:01] aesy commented on #532
The issue is only present when serializing string numbers, like such:

https://github.com/DataDog/dd-trace-java/blob/6b0e43b32dc01fcc66dce8944f783dfcb3f658dc/dd-trace-ot/src/main/java/datadog/opentracing/DDSpan.java#L330-L346

https://github.com/DataDog/dd-trace-java/blob/6b0e43b32dc01fcc66dce8944f783dfcb3f658dc/dd-trace-ot/src/main/java/datadog/opentracing/DDSpan.java#L408-L424

I think this coul

[2018-10-16 16:20] ctoestreich commented on #514
We have noticed in our spring 4 java 8 application that the memory footprint is also pretty terrible with APM on.

Heap usage of app - approx. memory usage after a GC
•	With APM ~1380MB
•	Without APM ~830MB

![core_memory](https://user-images.githubusercontent.com/691357/47031239-145e5b00-d135-11e8-822e-af94eaa5ba83.png)

I am still not clear if this is "expected behavior" from your agent.  I get

[2018-10-16 17:33] realark commented on #532
@aesy trace/span identifiers are sometimes logged in performance sensitive areas. We wanted to avoid paying the penalty of conversion for such cases.

Serialization to the agent is less of a concern (only happens once). Do you think we could accomplish the same thing with changes to `UInt64IDStringSerializer`?

[2018-10-16 21:13] aesy commented on #532
Ah I see.

Yeah, that would work. And there wouldn't need to be any validation since that's already been done at an earlier stage.

[2018-10-16 22:07] tylerbenson commented on #514
@ctoestreich I realize it's not ideal and we need to improve the public docs for this, but the best place to find the name of the integration is in [the code](https://github.com/DataDog/dd-trace-java/blob/v0.16.0/dd-java-agent/instrumentation/servlet-3/src/main/java/datadog/trace/instrumentation/servlet3/AbstractServlet3Instrumentation.java#L11). You may use any of those strings that are passed in

[2018-10-18 01:50] rymndhng commented on #458
The cirumstance where the 404s are not useful to be grouped together is because applications may implement generic routes with a different permission scheme. i.e. if I am seeing a huge number of 404s on the url pattern `/foo/:id/bar/:id`, I want to see the spans with 404s grouped under the same resource name `/foo/:id/bar/:id` -- not the resource name `404`

[2018-10-18 15:45] realark commented on #532
@aesy Thank you so much for the fix! This will ship in our 0.17.0 release (estimated to go out next week).

Will close this issue once the release ships.

[2018-10-24 06:54] tylerbenson commented on #532
Fix is included in [0.17.0](https://github.com/DataDog/dd-trace-java/releases/tag/v0.17.0).

[2018-10-24 06:54] #532 closed

[2018-10-24 06:55] tylerbenson commented on #517
Fix is included in [0.17.0](https://github.com/DataDog/dd-trace-java/releases/tag/v0.17.0).

[2018-10-24 06:55] #517 closed

[2018-10-26 03:05] marcoferrer opened #551 "Catch 'Exception' in TracingServerInterceptor for grpc"
We use Kotlin in production and the lack of checked exceptions means that our error meta data isnt being persisted into our traces. This is due to [TracingServerInterceptor](https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/instrumentation/grpc-1.5/src/main/java/datadog/trace/instrumentation/grpc/server/TracingServerInterceptor.java) only catching ```RuntimeException``` and ```Err

[2018-10-26 18:47] realark commented on #551
Thanks for raising this. Error-logging `Exception` seems reasonable to me.

If @tylerbenson is okay with the change I'd be happy to review a PR.

[2018-10-30 14:54] ctoestreich commented on #514
@tylerbenson currently we are on 0.14.0~8e218ce3

I will see if we can come up with more verbose logging that we can share

[2018-10-30 15:09] ctoestreich commented on #514
Our perf engineer did grab this out of dynatrace.

![image](https://user-images.githubusercontent.com/691357/47728092-ada86980-dc2b-11e8-9d44-d37c9616fded.png)

His notes:
"I did notice that the old gen for [application] consistently sit at around 1365MB, and after a full GC it will drop down to 460MB. In a 6 min period or so, it will go back to 1200MB. I am still doing further analysis in this an

[2018-10-30 21:18] ctoestreich commented on #514
@tylerbenson Some people on my team smarter than I have pointed to https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/DDCachingPoolStrategy.java#L31 as a possible culprit for high memory usage.

Some flavor from my engineers "If they’re using weak references in their cache implementation,that might explain why it would eat up

[2018-10-31 00:45] tylerbenson commented on #514
@ctoestreich I appreciate the extra details and suggestions.  The reason I was asking which version you were using is because in `0.15.0` we submitted a fix for this with #468.  Could you try upgrading and see if that solves the issue?  The latest is `0.17.0` if you want to jump all the way to that.

You can see the [cache eviction settings](https://github.com/DataDog/dd-trace-java/blob/master/dd-

[2018-10-31 00:58] ctoestreich commented on #514
Yes I have a pretty for our docker image with 0.17 that our perf team can retest.

[2018-10-31 00:59] tylerbenson commented on #551
@marcoferrer I have no problem changing those catch blocks.  Thanks for submitting the suggestion.

[2018-10-31 01:01] tylerbenson commented on #514
@ctoestreich awesome.  I look forward to the results.

[2018-10-31 02:55] marcoferrer commented on #551
I dont have a problem doing it. Ive already made the changes in my fork but I wanted to verify somethings in the main grpc issue before submitting.

From the grpc issue:

Pending the result of that discussion Ill modify my branch accordingly.

[2018-11-10 22:25] praseodym opened #575 "Instrumentation broken with OpenTracing on classpath"
We currently have a Spring app that has Datadog APM tracing set up using the Java agent. The app runs on Tomcat and uses JDBC and Apache HttpClient, both of which are instrumented by the agent. We also use the `dd-trace-api` dependency to manually mark methods for instrumentation using the `@Trace` annotation:

[code]

To get more granular trace spans, we want to use [OpenTracing as recommended by

[2018-11-11 15:41] realark commented on #575
The root cause is classpath related. The loader `ParallelWebappClassLoader` has a `delegate: false` property. What this means is that spring boot's classloader will load OT without delegating to the parent (bootstrap) loader. This will actually cause two different sets of OpenTracing classes to appear at runtime. One will be the OT classes used by Datadog, and the other the OT classes loaded by sp

[2018-11-11 16:35] praseodym commented on #575
Thanks for the information! Since this is a traditional Spring app deployed to Tomcat as a WAR file it was easy to just add `<Loader delegate="true"/>` to the Tomcat `context.xml`. This has fixed the problem.

I'll leave this issue open to because the out-of-box experience could indeed use some improvement, but feel free to close it if this is already tracked somewhere else.

[2018-11-14 23:57] redijedi commented on #514
Just to add to this, we're seeing significantly increased memory usage with DD Java Agent. We're on 0.17.0. Anecdotally, but consistently, we see almost a full doubling of memory usage. One service that used to run just shy of 300M at rest jumped up to 621M at rest after enabling the dd-java-agent. This is a dealbreaker as we don't want to increase our cluster sizes (and cost) just to use DD.

[2018-11-15 00:59] ctoestreich commented on #514
I have it on my docket this week to produce some results and analysis with yourkit or dynatrace.

[2018-11-15 01:19] redijedi commented on #514
For policy reasons I can't produce much that would leak IP, but here's a graph of another heavier service that typically use about half a gig now uses over a gig after enabling the agent.

<img width="194" alt="screen shot 2018-11-14 at 8 15 33 pm" src="https://user-images.githubusercontent.com/83999/48523447-7a302680-e84a-11e8-955c-78aec26180ea.png">

Seems to be a fairly consistent doubling of m

[2018-11-15 21:49] ctoestreich commented on #514
My ability to put arbitrary items into the env that has dynatrace is limited so all testing is local and down running java -jar on a boot application both with and without the agent.  I didn't see anything that "jumped out".  This was done on the latest 0.17 release.  Things are higher, but not like when deployed out into real container platform.  Also I ran a huge load that only hit a few URLs on

[2018-11-15 23:06] tylerbenson commented on #514
@ctoestreich Thanks for the follow up report.  The updated results seem reasonable to me.  Are you comfortable saying that the issue is resolved then?

@nilsdaniel I am pretty sure your issue is different from what @ctoestreich submitted.  However I just submitted a PR that I think has a good chance of resolving your problem: #582.  Go ahead and follow up on that PR.

@redijedi perhaps it would be

[2018-11-16 01:46] ctoestreich commented on #514
After we do a round of validation in our container platform next week I will update.

[2018-11-17 01:40] realark commented on #514
@nilsdaniel Wanted to make you aware we just shipped a fix for async servlets using dispatch we believe will solve your issue.

[2018-11-19 04:20] jrogers opened #585 "Allow disabling trace on a per-resource basis"
It would be really nice if we could disable traces for code that is auto-traced by the agent in some cases. For example, I would like to exclude my http healthcheck endpoints as they skew my APM metrics. Not sure of the best way to accomplish this, but I was thinking having a boolean property in the Trace annotation could allow disabling spans for example. Another "unnamed" APM product allows doin

[2018-11-19 05:43] rhyas commented on #585
https://github.com/DataDog/dd-agent/blob/master/datadog.conf.example has an example at the very end of it of how to exclude endpoints from traces. Does this not account for what you are trying to do?

[2018-11-27 20:31] tylerbenson commented on #551
Fix included in `0.18.0` release.  Thanks for the PR!

[2018-11-27 20:31] #551 closed

[2018-11-28 16:02] ctoestreich opened #602 "Infinite Loop in datadog.trace.instrumentation.rabbitmq.amqp.TracedDelegatingConsumer"
We have an issue where our rabbit messages that are destined for mysql are failing due to a data violation.  Under normal circumstances these will go through a 3x retry cycle and then bail out.  However when we have APM enabled the `TracedDelegatingConsumer` seems to "get in the way" and either eat the exception or augment the underlying default spring behavior and the message is infinitely stuck

[2018-11-28 16:09] redijedi opened #603 "Using jmsTemplate, not seeing trace"
We see direct interactions with JMS, but when using Spring's JmsTemplate to interact with ActiveMQ we lose the trace. Are there any workarounds?

[2018-11-28 16:42] tylerbenson commented on #602
@ctoestreich really sorry about that.  I forgot to rethrow the exception in the delegate.

Can you please try this build: https://13451-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.19.0-SNAPSHOT.jar

Note, it is based off master, so there are some additional changes since the `0.18.0` release.

Thanks again for the bug report!

[2018-11-28 17:05] ctoestreich commented on #602
@tylerbenson I will see if I can try it out.  However, given our multiple container inheritance, deploy pipeline and test data configuration, I only WISH it were as easy as just dropping a container on k8s.  Sadly, as with all things "large corporation", this might be a few days in the making to line up all the processes and people to test this.  I will see what I can do to test this asap.

[2018-11-28 17:29] tylerbenson commented on #602
@ctoestreich I understand.  If I don't hear back from you, I still plan to include this in the next release, so if you'd rather wait for `0.19.0` you can do that too.  Is there any reason you can think of that this wouldn't fix the bug?

[2018-11-28 17:35] ctoestreich commented on #602
@tylerbenson I did some preliminary local testing and the issue didn't present itself with the snapshot.  However, when I use the 0.17 agent, the issue also didn't seem to be present either.  I am still working on verifying that I can actually reproduce locally with our installed APM agent 0.17.

[2018-11-28 18:00] redijedi opened #605 "Custom instrumentation?"
Is there a simple way to create custom instrumentations without manually updating source code? OT has byteman which allowed for easily creating custom spans using the btm files. I see DD moved to ByteBuddy and it appears as though you can create "instrumentations" like those in the agent project, but it doesn't look like a simple build process.

[2018-11-28 18:08] tylerbenson commented on #605
We allow methods to be instrumented via configuration, similar to adding `@Trace` to the method, but that only does simple method timing.  We don't currently have a way to dynamically load external instrumentation.

Can you give some additional background on what you're trying to accomplish?

[2018-11-28 19:33] redijedi commented on #605
Ideally it'd be something like this: https://github.com/opentracing-contrib/java-agent#creating-custom-rules

I have the need to get spans around code that I do not control the source of. So being able to add traces to that code, and the code it calls, would be fantastically helpful.

[2018-11-28 19:36] tylerbenson commented on #605
have you seen the `trace.methods` configuration in [the docs](https://docs.datadoghq.com/tracing/setup/java/#configuration)?  I think that might solve the problem to some degree with the existing tracer.

[2018-11-28 21:47] redijedi commented on #605
That didn't seem to work. I've setup the DD_TRACE_METHODS value to 3 fully qualified methods in the form `org.springframework.jms.core.JmsTemplate[send]` and nothing gets traced even though that method is certainly called. The other 2 methods are not traced either.

[2018-11-28 23:03] darin-holloway opened #606 "Unique database servers per database host on map"
Is there a way on the map to represent that all the apps have unique mysql instances instead of all of them connection to a single mysql "node" on the APM Service Map.

[2018-11-29 03:01] tylerbenson commented on #605
I'm thinking perhaps there might be something else going on.  Might be a good idea to open a support request where we can dig in deeper.

Thanks!

[2018-11-29 03:08] tylerbenson commented on #606
You could configure each host to map their `mysql` service instance to be host specific using `dd.service.mapping` ([documented here](https://docs.datadoghq.com/tracing/setup/java/#configuration))

[2018-11-29 16:09] tylerbenson commented on #344
@codylerum we made some improvements in `0.16.0` that may improve things for your specific case (https://github.com/DataDog/dd-trace-java/commit/3d78afbc2c5d9cfd2177ad75cf1d6843aa4bf8dc) but we are actively working on a longterm solution.  (See latest work here: #564)

Either way, you can still apply the setting that @realark mentioned to disable the executor instrumentation.  That should allow yo

[2018-11-29 21:00] ctoestreich commented on #602
Here is the issue from testing the new code.

[code]

Infinite loop
[code]

[2018-11-29 21:03] ctoestreich commented on #602
@tylerbenson our header value is null so the .toString() NPE

https://github.com/DataDog/dd-trace-java/blob/66b625c6a2191e616dd64cc8250271bcaaa44a58/dd-java-agent/instrumentation/rabbitmq-amqp-2.7/src/main/java/datadog/trace/instrumentation/rabbitmq/amqp/TextMapExtractAdapter.java#L15

[2018-11-29 23:09] vgarmash-chewy commented on #606
@tylerbenson Thank you for responding, but the page you are referring to is not explaining meaning of "dd.service.mapping", but rather just mention it.

I am personally digging through all publicly shared datadog pages to understand how the code need to me tagged or configured in order to build nice service map as your guys show in presentations (https://www.datadoghq.com/videos/dash-keynote-creat

[2018-11-29 23:42] tylerbenson commented on #606
Sorry it isn't explained better.  Basically that config basically renames the service for any reported span from the key to the value of the config.  For example, I could configure it with the following environment variable `DD_SERVICE_MAPPING=mysql:config-service-mysql-db` to have all instances of mysql spans be renamed.

Does that help?

[2018-11-30 15:36] vgarmash-chewy commented on #606
Thank you. Additional questions:
1. What if my application connects to multiple databases? How the dd.service.mapping should be configured for multiple databases of the same Postgres or MySQL type?
2. How to add HAProxy, F5 (or any other SNMP resource) to the service map? Would be great in some near future to see examples of configuration for every integration that Datadog supports.
3. Would it be

[2018-11-30 16:51] tylerbenson commented on #606
For 1, we don't really have a good solution for that.  Do you have any suggestions?  The best I can think of is for you to manually override the service name in your code.

Beyond that, service maps are not my area of expertise.  I suggest you contact support directly for further assistance.

[2018-11-30 17:52] alxch- commented on #606
You may find more information in this article: https://www.datadoghq.com/blog/service-map/. You can also check this doc: https://docs.datadoghq.com/tracing/visualization/services_map/

- Basically, nodes on the service map are APM services and edges are calls from one service to another. There are parent/child relationships between spans in your traces, and that makes the edges.
- As Tyler said, i

[2018-11-30 20:14] vgarmash-chewy commented on #606
@alxch- Thank you. I am very aware of these pages and all others that can be found in Google. The problem is the none of those pages are talking about from where service names are coming and how to change those. Now, thanks to @tylerbenson we know that DD_SERVICE_MAPPING is playing a crucial role in fixing incorrect names. Would be nice to see deeper article about all integrations too.

[2018-11-30 21:55] realark commented on #602
Fixed in 0.19.0

[2018-11-30 21:59] realark commented on #344
@codylerum @asidorenko-nexonia Thanks for your patience. We have a fix out in our latest 0.19.0 release. I'd appreciate it if you could try running with the fix yourselves. We've done a lot of testing on our end but the instrumentation is pretty generic so there may be an environment we didn't consider.

[2018-11-30 22:31] ctoestreich commented on #602
@realark I would prefer a new snapshot to test before we close issue. Unless you have an app and deployment you tested against?

[2018-12-01 01:59] ctoestreich commented on #602
@realark I saw and understand there were into tests put in place, however I think closure is a bit premature given that there were two issues uncovered here and we still haven’t proven that our completely reproducible infinite looping scenario at runtime is resolved. We still need a snapshot jar and we will fire our tests off again to make sure the issue is resolved with the latest changes.

We ca

[2018-12-01 23:34] realark commented on #602
@ctoestreich Thanks for clarifying. Didn't realize this was more complicated than the exception being eaten by the instrumentation. I'm going to reopen this until you can confirm the fix.

It's best to test against out latest release (which as all the rabbit fixes). https://github.com/DataDog/dd-trace-java/releases/tag/v0.19.0

[2018-12-02 00:16] ctoestreich commented on #602
Thanks. I am not trying to be difficult.  I merely will not go through our lengthy containerization and deploy process until we can verify the issue is fixed. It takes several builds and affects 100s of apps to actually bump apm and deploy your release versions into our release pipe.  This particular issue we can reproduce with a one-off container that I put in the APM agent and manually deploy to

[2018-12-03 22:55] tylerbenson commented on #603
I've added tests in #612 verifying compatibility with Spring JMS Template.  Perhaps you could look a the tests in that PR and tell me if you're doing anything different?

[2018-12-04 15:16] cbuleandra opened #614 "Spring WebClient tracing issue"
Hi! I am trying to set-up tracing for a stateless GraphQL api-gateway (simple HttpServlet), which accepts requests at `POST /graphql`. The gateway makes use of [WebClient](https://github.com/spring-projects/spring-framework/blob/master/spring-webflux/src/main/java/org/springframework/web/reactive/function/client/WebClient.java) in order to call another service for retrieving data.

The problem I a

[2018-12-04 16:11] tylerbenson commented on #614
@cbuleandra Thanks for the report.  I believe we currently only instrument the webflux server and don't have instrumentation for the client.  I will add a feature request for instrumentation for the client.  Meanwhile, you can try switching to a different supported client, or manually instrumenting it using the OpenTracing API.

[2018-12-04 17:14] tylerbenson commented on #614
You will need to call
[code]
to inject the trace and span ID headers into the client request.

You can look at how are netty client instrumentation works: https://github.com/DataDog/dd-trace-java/tree/master/dd-java-agent/instrumentation/netty-4.1/src/main/java/datadog/trace/instrumentation/netty41/client

You might be able to get the span to pass to inject using:
[code]
from inside your controlle

[2018-12-05 19:04] jaun-rg opened #618 "starting datadog java agent with wildfly (12) : java.lang.IllegalArgumentException"
current version of **datadog java agent** return a  `java.lang.IllegalArgumentException` when start with **wildfly** (12); in previous versions (`~= 0.18.0`) this problem does not present

trace:

[2018-12-05 19:54] aantono commented on #606
I've just opened a feature request with the DataDog Support Team on this topic.
We did discuss the `DD_SERVICE_MAPPING` route, but unfortunately that solution does not scale when you have hundreds of different applications that are using a common/shared bootstrap mechanism (container/launcher), as it is impossible to know what mappings should be configured for each.  It also does not support the i

[2018-12-06 11:34] cbuleandra commented on #614
@tylerbenson Thanks for the hints. I was able to try it out, however I could not make it work. I did some debugging, trying to figure out what is going on, and I see these lines in the logs:
[code]
I will try to make some time and dig deeper into the agent, but in the meantime, is there something you can think of that might be causing this behaviour (i.e. spans will not be linked messages)?

[2018-12-06 13:13] cbuleandra commented on #614
Never mind, I updated the agent version to a SNAPSHOT built locally from the current state of the repo, and these messages are no longer logged. Sorry for my previous message 🤦‍♂️ .
The span is still not propagated though, will keep digging.

[2018-12-06 21:00] mar-kolya commented on #618
@jaun-rg Thanks for the bug report.

This seems to be a regression in the last release and we are working on addressing that.
I'll post an update here once we have a fix.

[2018-12-07 02:10] stormmore commented on #618
I am also facing this issue. Reverting to 0.18.0 for now!

[2018-12-07 19:14] stormmore commented on #618
OK I am rolling our `dev` instance of the service we saw this on and that SNAPSHOT gets passed the problem. I do not know yet if there are any follow up issues though.

[2018-12-07 19:37] vgarmash-chewy commented on #606
I just got those questions responded by the DD support. Short story is none of those things are currently supported and not clear if they would ever be. Here:

It is disappointing because you would think that Service Map would draw full picture of your enterprise infrastructure (one of the marketing promises Ashley Miller made in their keynote https://www.youtube.com/watch?v=ozESALTbYaI)

[2018-12-19 17:06] realark commented on #606
Hi @vgarmash-chewy, would you mind taking support up on their offer to submit a feature request? This would be a very useful feature to have, but we'll need to devote some first-class time to work on it. A feature request through support is the fastest way to get this prioritized.

[2018-12-19 17:23] vgarmash-chewy commented on #606
@realark The future request has been opened. Please reach to Cécile Terpin, who opened those for us.

[2018-12-19 17:51] aantono commented on #606
@realark. We’ve been also working with Nelson Adams to get this feature requested from our end, so he can also provide some details.  (Our offer to help with a PR is also on 😉)

[2018-12-21 14:05] jwilt opened #633 "JBDC CallableStatement missing statement string"
Hi

My application makes use of both PreparedStatements and CallableStatements, spans on PreparedStatements show the actual statement but for CallableStatements it shows "DB Query". Is it possible to see the actual statement? This also causes an issue with statistics because all CallableStatements get collected under the one resource name DB Query.

Java 1.8.0_171
Server Wildfly 10.1.0
Oracle JDBC

[2018-12-21 19:54] jwilt commented on #633
Here is a simple example

`
  public Map<Long,String> getOffices(long companyid) throws SQLException
  {
    Connection conn = null;
    CallableStatement stmt = null;
    ResultSet rset = null;
    Map<Long,String> lm = new LinkedHashMap<Long,String>();

    try
    {
      conn = ds.getConnection();
      stmt = conn.prepareCall( "{call BrandingAdminWebApp.getOffices(?,?)}");
      stmt.setLong(

[2018-12-21 20:00] jwilt commented on #633
Sorry forgot to include this is using v0.20.0

[2018-12-21 22:11] tylerbenson commented on #633
@jwilt Thanks for that sample.  I think I was able to solve the problem.  Can you try [the build](https://14733-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.21.0-SNAPSHOT.jar) from the PR to confirm?

[2018-12-21 22:43] jwilt commented on #633
Ah, was just getting ready to log off for the day. Thanks for the quick response but it is still not working correctly now the resource name is "?".

[2018-12-22 00:16] tylerbenson commented on #633
@jwilt hmm... It might be helpful to get some debug logs from your application.  Would you mind opening a support ticket? (next week is fine, no rush.)

[2018-12-27 17:46] tylerbenson commented on #633
Thanks for opening that ticket.  I'm going to call the original issue of `DB Query` as resource name resolved and close this issue and continue troubleshooting the `?` resource name there since I think that's a different problem.

[2018-12-27 17:46] #633 closed

[2018-12-27 19:39] jrogers opened #637 "AWS SDK v2 Support?"
It would be nice if support for AWS SDK v2 could be added - https://github.com/aws/aws-sdk-java-v2

[2018-12-27 20:10] tylerbenson commented on #514
@ctoestreich any update?

[2018-12-29 01:08] ctoestreich commented on #514
Close

[2018-12-29 01:08] #514 closed

[2019-01-08 14:23] JordanHitchman opened #649 "Could not initialize class java.util.logging.LogManager"
After upgrading from V0.19.0 to V0.20.0 I'm experiencing the following problem when running a Spring boot project directly via terminal (java jar command) or as a docker image -

`ERROR org.springframework.boot.SpringApplication - Application run failed
java.lang.NoClassDefFoundError: Could not initialize class java.util.logging.LogManager`

I have the following configurations:
Spring Boot Version

[2019-01-08 18:01] realark commented on #649
Thanks for reporting. I've been able to reproduce this with Java 11+spring-boot. I'll keep this ticket updated as things progress.

[2019-01-09 16:39] marcoferrer opened #652 "Propegating current span across thread boundaries in async application"
We're using kotlin coroutines for implementing async services. One issue that we've run into is properly persisting the current span when the executed code resumes on a different thread.

There are execution hooks available that are meant for setup and tear down of thread locals which are meant for this usage.

Problem Im facing is not knowing the proper way to attach / detach a span to the curren

[2019-01-09 18:48] tylerbenson commented on #652
Hey @marcoferrer, welcome!

I'm a bit unclear... are you asking a question or reporting a problem?

The main instrumentation we have to handle async is the [java_concurrent](https://github.com/DataDog/dd-trace-java/tree/master/dd-java-agent/instrumentation/java-concurrent) instrumentation which instruments java `Executor` implementations.  You can look at that instrumentation for more details how

[2019-01-10 00:09] marcoferrer commented on #652
Sorry about the lack of clarity. I was more interested in finding out the proper way to manage spans across thread boundaries. I didnt realized the `Executors` were being instrumented as well and would explain a few things.

We didnt start having issues with spans in coroutines until recently. Looking back now, I think it might have to do with the default executor implementation for coroutines swi

[2019-01-11 16:54] realark commented on #633
Fix shipped in tracer 0.21.0

[2019-01-11 16:57] realark commented on #649
Update: The root cause of this issue is an incompatibility between java 9+ modules and some class structure modifications made by the Java tracer.

The 0.21 release of the tracer works around the issue and allows springboot to start up correctly. @JordanHitchman If you had no issues with the 0.19 release, then it's safe to update to the latest release, 0.21.

A long term solution is being worked o

[2019-01-11 16:58] realark commented on #649
Fix for springboot startup: https://github.com/DataDog/dd-trace-java/pull/654

[2019-01-22 18:31] #652 closed

[2019-01-23 16:34] tylerbenson commented on #344
@codylerum @asidorenko-nexonia any chance you were able to verify the fix in the latest versions?  I'd like to close out this issue.

[2019-01-23 16:38] asidorenko-nexonia commented on #344
@tylerbenson I can confirm the fix is good. We're currently running 0.21.0 without issues. Thanks!

[2019-01-23 16:40] tylerbenson commented on #344
Great, thanks!

[2019-01-23 16:40] #344 closed

[2019-01-23 23:17] mattdrees opened #665 "Support Unix Domain Sockets for JMX metrics reporting"
We'd like to use unix domain sockets for sending jmx metrics from our dockerized java apps. However, the currently-included version of java-dogstatsd-client doesn't support this. (It includes 2.1.0, and UDS support seems to have been added in 2.6.)

https://github.com/DataDog/jmxfetch/pull/207 may be helpful.

[2019-01-24 00:00] tylerbenson commented on #665
We can upgrade when a new version of jmx fetch is released.  Is that all we will need to do?

[2019-01-24 00:08] mattdrees commented on #665
Seems like it to me, yeah.

[2019-01-24 03:58] codylerum commented on #344
@tylerbenson updated to 0.22.0 and all seems to be working fine.

[2019-01-24 22:13] tylerbenson commented on #652
@marcoferrer your PR is included in the latest release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.22.0 . Thanks for the contribution.

[2019-01-28 19:06] knokio opened #677 "JVM Crash while starting"
So we've been using the Datadog Agent for more than 12 months and everything seemed ok.
We've recently added a wrapper around our cron jobs and we're able to pick ocasional JVM crashes when starting these jobs.

We used to have dd-trace-java 0.8 but we tried upgrading to the latest 0.18 and the crashes still occurred.
We disabled the agent for a few days, to test if this could be the issue and the

[2019-01-28 20:08] mar-kolya commented on #677
@knokio would you mind opening a support ticket for this problem and providing agent debug log along with `/home/user/hs_err_pid20229.log` and `/home/user/replay_pid20229.log` - they might have some useful information there.
Also, it might be useful to gather core dump from that failure and upload it to support ticket as well.

You may also want to consider updating to latest java8 version - looks

[2019-01-29 12:09] knokio commented on #677
It happens immediately on startup. There is no consistent way to reproduce but it happens sporadically.

[2019-01-29 12:31] knokio commented on #677
I will open a ticket with the support. Is there any sensitive information I should exclude from these logs?

[2019-01-29 14:22] mar-kolya commented on #677
@knokio let's move this question to support ticket - I think that would be easier.
Thanks!

[2019-01-30 16:23] endertunc opened #680 "Why there is no trace.kafka.produce.* metrics?"
After enabling datadog agent on one of our kafka streams applications, we started to see `trace.kafka.consume.*` metrics. I was also expecting to see `trace.kafka.produce.*` metrics since kafka streams application is also producing messages.

It would be nice if someone can help me to understand why we don't have `trace.kafka.produce.*` metrics.

dd-agent version: 0.17.0

Thanks in advance!

[2019-01-30 22:39] endertunc commented on #680
Hi @tylerbenson thanks for the reply!  Hope you guys can add this feature in the near future!

[2019-01-30 22:40] tylerbenson commented on #680
Since that will be a backend thing (not really tied to the trace client), do you mind if I close this issue?

[2019-01-30 22:42] endertunc commented on #680
I just wanted to make sure that I am not missing anything. Please close the issue. Thanks for the support again!

[2019-01-30 22:56] #680 closed

[2019-01-31 18:27] brentm5 opened #685 "JVM metrics not starting when using resin container"
When starting resin on version 0.22.0 we are seeing that the JMXFetch process never starts.  Upon digging in it seems to be related to #657 .  The [resin](https://caucho.com/) server itself depends on jboss-logging however we never call out to `java.util.logging.LogManager` so the hook to start jmxfetch never actually happens.

[2019-01-31 19:00] tylerbenson commented on #685
Thanks for reporting.  This should be fixed by #684.

[2019-01-31 23:55] brentm5 commented on #685
#684 does not full resolve this issue.  We do have a possible workaround by providing the following:

[code]

Long term we would definitely want to have a better story around configuring our services with JMX metrics.

[2019-02-01 00:13] brentm5 opened #687 "JVM metrics not showing up until 10 minutes after service starts up"
We have have been trying to get custom metrics from resin to show up with the new jmxfetch feature in the APM agent.  We are able to get jvm metrics immediately however our resin metrics do not show up for ~ 10 minutes.

It appears that when the jmxfetch thread starts the resin process has not fully initialized so the resin beans are not available.  After 10 minutes the beans are refreshed and new

[2019-02-04 23:41] sattvik opened #693 "Logging confusion"
Hello,

My application uses logback for logging.  Ideally, I'd like the dd-java-agent and instrumentations to use my application's preferences for logging.  Unfortuantely:

1. This is not the case.
2. The logging that does occur is not parsed by the default Java integration.

It seems like there's at least two different logging formats being used.  The first, which appears to come from the JMX int

[2019-02-04 23:58] tylerbenson commented on #693
You're correct.  Internally `dd-java-agent` uses [SimpleLogger](https://www.slf4j.org/api/org/slf4j/impl/SimpleLogger.html), but to avoid conflicting with other slf4j providers we remap the package at build time.  You can still use the system properties in that javadoc to reconfigure the log level, format, and output location.

Since you're asking about jmxfetch, I assume that means you've manuall

[2019-02-08 17:01] tylerbenson commented on #677
@raphw, Do you have any suggestions for how to troubleshoot these kinds of reports?  A different customer isolated the version difference that is causing this to [when we updated from bb 1.8.14 to 1.9.2](https://github.com/DataDog/dd-trace-java/compare/v0.16.0...v0.17.0#diff-6512f838e273b79676cac5f72456127f).  I've asked them to try a new build with the latest version of Byte Buddy to see if it mi

[2019-02-08 17:09] raphw commented on #677
Can I get access to the crash dumps? Looks like a bug in HotSpot to me, to be honest.

[2019-02-08 17:12] tylerbenson commented on #677
@raphw What's the best way to privately message you?

[2019-02-08 17:29] raphw commented on #677
rafael.wth@gmail.com

[2019-02-08 21:31] raphw commented on #677
From looking into the dump file, this has nothing to do with Byte Buddy. It is a bug in the C2 compiler that seems to reference an invalid machine code adress in the compiled code. I would guess that this issue is fixed today; you could for example try running with a Java 8 VM to see if the application starts up. Maybe Oracle also backported the patch to Java 7 if you have a support subscription.

[2019-02-08 21:35] tylerbenson commented on #677
@raphw Thanks for looking into this.  Do you know if there is anything specific we could do to avoid triggering it?

[2019-02-08 21:43] raphw commented on #677
This is kind of difficult as the program has no real control over how the JVM is translating a program to machine code. Any program might run into this bug if only the profile is set right. You can of course influence how C2 handles code (or even turn it of via -Xint or -client).

If I remember correctly, you can even turn off compilation for specific methods only. You can probably find a lot in t

[2019-02-11 20:16] tylerbenson commented on #637
This was included in the latest release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.23.0

Let us know if you have any problems with it.

[2019-02-11 20:16] #637 closed

[2019-02-12 17:43] sattvik commented on #693
I appreciate your explanation.  I suppose there are a couple of ideas:

1. I agree that it would be nice to have both the dd-java-agent and jmxfetch log the same way.
2. Additionally, it'd be great if the logging format be one that is picked up automatically by the default Java log processor.  The formats the it seems to pick up include:

[code]

[2019-02-13 10:24] blockmar opened #707 "HystrixCommandGroupKey missing from Hystrix Command Instrumentation"
Even if the updated made in PR https://github.com/DataDog/dd-trace-java/pull/683 is an improvement of the Hystrix Instrumentation. It is still missing the Hystrix Commang Group, a very important concept of Hystrix.

The Hystrix Command Group is used to group Hystrix command into logical groups, eg. per Provider och Per Integration. A command group also shares some of the setting and states of the

[2019-02-13 10:44] blockmar opened #708 "Hystrix Instrumented needs to register as a Service to allow creation of Monitors"
The Hystrix Instumentation is not setup in a way to allow us to create monitors based on Hystrix health nor performance. (This is a problem for more instrumentations than Hystrix too)

There is currently no way of setting up Monitors based on Instrumentation metrics except for http resources? Hystrix in it self provides an excellent way to monitor the health of integrations. This should be leverag

[2019-02-13 20:30] ffalexandererben opened #709 "Kafka consumer client does not inherit service name"
The Kafka consumer client instrumentation uses a hardcoded service name `kafka` and does not inherit the service name.
I think it should inherit the service name given via environment or vm property - maybe this behaviour should even be configurable.
It's possible to work around this issue by using `dd.service.mapping`, but that is only a workaround in my opinion.

https://github.com/DataDog/dd-tr

[2019-02-14 19:19] gdubya commented on #351
We are currently investigating using Sleuth to monitor our apps and would be interested in reporting these to datadog instead of implementing our own solution. What's the best way to send the traces to DD right now?

[2019-02-14 19:31] aantono opened #711 "Add support for custom implementations of datadog.trace.common.writer.Writer"
The documentation (and the source code) elude to the ability to configure different trace writers, but it appears that only 2 supported variants are `DDAgentWriter` and `LoggingWriter` built-in ones.  Please provide for an ability to specify a fully-qualified class name to match the ability to use the JVM agent tracer configurations in a same way as possible in https://docs.datadoghq.com/tracing/a

[2019-02-15 00:29] tylerbenson commented on #351
@gdubya Any particular reason you don't want to use `dd-java-agent`?  Otherwise there's a fork of my repo mentioned above that's actually been published: https://github.com/smartupio/zipkin-datadog-reporter

[2019-02-15 00:31] tylerbenson commented on #709
In my opinion, it should probably be `kafka` for the producer but use the configured service name for the consumer.  What do you think?

[2019-02-15 00:35] tylerbenson commented on #708
It sounds like you're suggesting all `hystrix` spans should be reported to a common service of `hystrix`.  This would mean that all hystrix calls would be lumped together across all your applications.  I'm not sure that is a behavior most people will want.

You can do this manually by setting the service name for the current span while inside your hystrix calls.

[2019-02-15 00:37] tylerbenson commented on #707
@blockmar would you be interested in submitting a PR for consideration?

[2019-02-15 07:27] ffalexandererben commented on #709
I agree, that makes sense.

Just one thought on the consequences if the service name for Kafka consume traces is changed to the configured service name: The operation name `kafka.consume` might cause a problem for services that also have a HTTP interface, where the dominant trace operation name will be `servlet.request` or `express.request` or whatever framework is used. As fas as I'm aware, selec

[2019-02-15 11:09] alicederyn opened #713 "Dropping trace reason: invalid span"
I am attempting to enable Java log extraction using [logstash-logback-encoder] 5.3, as per the [DD SLF4j log collection recommendation], hooked into DropWizard with code derived from [alphagov/dropwizard-logstash], but have been getting errors from the DataDog agent (6.5.2):

[code]

It looks like I may not be the only one experiencing this issue: https://github.com/DataDog/datadog-agent/issues/29

[2019-02-15 11:22] alicederyn commented on #713
I think this comes down to me forgetting what year it is now 😳 My apologies.

[2019-02-15 11:22] #713 closed

[2019-02-15 15:26] gdubya commented on #351
No, I suppose that is the best way once we take our other monitoring requirements into consideration (jmx reporting, etc). Thanks for the feedback!

[2019-02-15 19:00] tylerbenson commented on #711
There are problems with accepting generic writers for the javaagent due to how it encapsulates classes in a separate classloader.  Accepting classes that might exist on a different classloader would break this encapsulation and likely wouldn't be accessible.

Can you explain what you're trying to do and maybe we could consider incorporating it into the existing writer.

[2019-02-15 19:57] renannprado commented on #351
@tylerbenson @gdubya  I'm going through the quest of configuring sleuth+datadog right now.
The reason I want do it with sleuth is that if we change from datadog to something else, sleuth is abstracting a lot of things such as the annotations you can use to create spans.
I believe I'm about to succeed, but if someone already has a how-to, it would be nice.

[2019-02-15 19:59] tylerbenson commented on #351
@renannprado our javaagent actually has instrumentation for Sleuth's annotation: https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/instrumentation/trace-annotation/src/main/java/datadog/trace/instrumentation/trace_annotation/TraceAnnotationsInstrumentation.java#L41

[2019-02-15 20:09] renannprado commented on #351
@tylerbenson does datadog agent propagate tracing with B3 format when using, for example, gRPC? That's my main restriction actually.

[2019-02-15 20:21] aantono commented on #711
I've noticed the classloader issue when taking a stab at the PR (but still not giving up in hope of finding a "clever" solution :) )
The use-case I'm trying to solve is the integration of the DataDog instrumentation into our existing internal tools at the company, so in essence trying to wrap the `DDAgentWriter` class with a custom envelope to do some extra things before passing data to DD.

Simil

[2019-02-19 01:46] milanvdm opened #716 "Compatibility issue with Guava 27+"
If you use Cassandra 3.6.0 (which uses Guava 27+), `dd-trace-java` will throw an `UnknownMethodException` due to a change of the method `.transform`.

A similar issue can be found here: https://datastax-oss.atlassian.net/browse/JAVA-1328

[2019-02-19 07:33] milanvdm commented on #716
We were using an sbt plugin for datadog.
This plugin was defaulting to v0.10.0 of `dd-trace-java`.
Upgrading this solved the issue.

[2019-02-19 17:19] aantono opened #717 "Add Support for Custom Propagation Headers"
Allow ability to configure different header names to use for the following propagation headers: https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-ot/src/main/java/datadog/opentracing/propagation/DatadogHttpCodec.java#L24-L27

[code]

Alternatively would be ok to add support for aliases, in a priority order, for example have `x-datadog-trace-id` being the primary header, but also suppor

[2019-02-19 23:21] tylerbenson commented on #685
This should be fixed now by #714.  Sorry for the back and forth on this.  Thanks for your patience.

[2019-02-20 09:09] milanvdm commented on #716
I can make it work but that means I need to update Guava to 27 for the dd-java-agent.
This means that there is no compatibility with Java 7 anymore.

But in the current state, datastax.cassandra 3.6.0 uses Guava 27+, so the agent does not work with that version.

[2019-02-20 13:50] blockmar commented on #708
@tylerbenson This is kind of what I am suggesting. For me it does not make more sense to group all call to eg the AWS SDK compared to all calls to Hystrix so I don't really see the difference.

Is there another way of making APM based monitors that do not require a Service?

Please direct me to the documentation on how I set a custom Service scope and I will try it out.

[2019-02-20 13:51] blockmar commented on #707
@tylerbenson I will have a look and see if I can understand how the code works. Are there any directions on how I test the code to see that it's set in the right way?

[2019-02-20 16:16] tylerbenson commented on #708
The general documentation is here: https://docs.datadoghq.com/tracing/advanced_usage/?tab=java#opentracing

You'll want to do something like this inside your hystrix command:

[code]

[2019-02-20 16:20] tylerbenson commented on #707
I'm not sure how to go about testing the command group feature specifically, but you can see the instrumentation here: https://github.com/DataDog/dd-trace-java/tree/master/dd-java-agent/instrumentation/hystrix-1.4/src/main/java/datadog/trace/instrumentation/hystrix
and the tests for hystrix here: https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/instrumentation/hystrix-1.4/src/tes

[2019-02-20 16:22] tylerbenson commented on #716
Thanks for the report.  Does this mean that the agent is actively breaking things or the instrumentation just isn't working on that version?

[2019-02-20 16:23] tylerbenson commented on #717
Thanks for submitting the suggestion.  Will need to discuss internally to decide on the correct corse of action on this.

[2019-02-20 16:29] milanvdm commented on #716
@tylerbenson The agent is actively breaking things. Because it runs the `TracingSession` it throws the `MethodNotFound` exception and therefore crashes our app.
Meaning that if you have an external dependency using Guava 27+, you cannot use dd-agent in your project.

[2019-02-20 16:55] tylerbenson commented on #716
Ok, thanks for confirming that.  Until we get this fixed, please disable the cassandra instrumentation:

[code]

This will allow you to still use the rest of the instrumentation.

[2019-02-21 17:27] tylerbenson commented on #685
This fix has been published: https://github.com/DataDog/dd-trace-java/releases/tag/v0.24.0
Thanks for your patience.

[2019-02-21 17:27] #685 closed

[2019-02-22 15:01] blockmar commented on #708
OK, then I have a new problem for you. A lot of our hystrix command are created using Spring Annotations. So the classes are written by the people in the Spring Boot community and then use by use activated by Spring based configuration annotations. Thus we can not change them.

[2019-02-22 15:06] blockmar commented on #707
This PR should include what's needed but threat it more like a POC than final code https://github.com/DataDog/dd-trace-java/pull/726

[2019-02-22 15:58] tylerbenson commented on #351
@renannprado currently we don't support B3, but we do support propagation over gRPC  with `dd-java-agent`.  Is that not working for you?

[2019-02-22 16:15] tylerbenson commented on #708
Ah, I see.  I have an idea for a future config option that might solve this, but it's not implemented yet.  Perhaps the next best option is to consider using a `TraceInterceptor` to manually modify the traces after they finish. This isn't well documented, but you can find it in `dd-trace-api`.

[2019-02-23 15:59] knokio commented on #677
Thank you both for these comments. Is there any specific JVM that we could try to run to avoid this? @raphw

[2019-02-23 16:24] raphw commented on #677
Could you try on the most recent Java 8 VM?

[2019-02-24 13:21] renannprado commented on #351
I does work, but I need to propagate with B3 so make the distributed tracing integration vendor neutral.

[2019-02-24 14:19] aantono commented on #351
I think #717 would be helpful to enable configuring such integrations.

[2019-02-26 09:20] blockmar commented on #708
Maybe this is an Issue for the Dashboard and Monitor team and not the DD Agent. But the problem is that I can not base Monitors on `components` (`hystrix`) nor `operation name` (`hystrix.cmd`) only on _Service_ or Resource. Ant the resource is unique for every hystrix call.

As a result I have no way of creating a monitor for over all health of Hystrix within a Service (nor globally) (Not even at

[2019-02-26 20:53] andrewsouthard1 commented on #708
@blockmar Thanks again for submitting this! In terms of your question in regards to monitoring, you can set a metric monitor based on the operation name `trace.hystrix.cmd` and then monitor by `resource_name`. [Metric monitor](https://app.datadoghq.com/monitors#create/metric). https://cl.ly/424f069bf890

[2019-02-27 10:51] AvinashM7 opened #738 "I have ReportGeneration Service which has access to java swing and fonts specific classes, after adding Datadog Agent through jvm, facing below issue"
Servlet.service() for servlet [com.intellectseec.platform.reportgenerator.application.JerseyConfig] in context with path [/platform-reportgenerator-services] threw exception [org.glassfish.jersey.server.ContainerException: java.lang.IllegalAccessError: superinterface check failed: class javax.swing.RepaintManager$ProcessingRunnable (in module java.desktop) cannot access class datadog.trace.bootstr

[2019-02-27 15:01] provDaveStimpert commented on #424
from my experience, `servlet.request` is reported for spring boot services, but jersey services use a different format which is based on the class name and method name of the API endpoint.  Perhaps that is the point of confusion?

[2019-02-27 15:33] mar-kolya commented on #738
Hi @AvinashM7, thank you for your report!

Could you please provide information about JVM you are using.
Ideally small sample app that demonstrates the problem would be very helpful.

[2019-02-27 17:42] JJonesAtAvaya opened #739 "How to build dd-java-agent with logging enabled?"
I am trying to build a debug build of the java trace agent with some logging added, however, it seems to be explicitly excluding org.slf4j from being utilized, esp in the file

    src/main/java/datadog/trace/agent/TracingAgent.java

Please advise, thank you

[2019-02-27 17:49] tylerbenson commented on #739
We use Slf4j's [SimpleLogger](https://www.slf4j.org/api/org/slf4j/impl/SimpleLogger.html) inside the agent.  You can control the log output by using the system properties documented on that class.  The only difference is we remap the package name, so instead of
`-Dorg.slf4j.simpleLogger.defaultLogLevel=debug` you must use `-Ddatadog.slf4j.simpleLogger.defaultLogLevel=debug`

If you have the code c

[2019-02-27 17:54] JJonesAtAvaya commented on #739
Thank you, trying:

    ./gradlew :dd-java-agent:shadowJar

I still get

    /Users/julia15/datadog/agent.0.24.0/dd-trace-java/dd-java-agent/src/main/java/datadog/trace/agent/TracingAgent.java:19: error: package org.slf4j does not exist

When adding this to the file TracingAgent.java:

    import lombok.extern.slf4j.Slf4j;

    /** Entry point for initializing the agent. */
    @Slf4j
    public c

[2019-02-27 17:58] tylerbenson commented on #739
Ah, I see... yeah, TracingAgent is not a safe point to use Slf4j.  You'll notice, elsewhere in that class we just use `System.out`. May I ask what are you trying to accomplish?

[2019-02-27 18:07] JJonesAtAvaya commented on #739
Trying to figure out why I'm unable to send traces from my java app inside a Docker container.

System.out will be fine, I'll try that, thank you

[2019-02-27 18:10] tylerbenson commented on #739
Ok.  I suggest enabling debug logging.  If that doesn't highlight anything specific, please contact our amazing support team and they should be able to help.  Thanks for reaching out!

[2019-02-27 18:10] #739 closed

[2019-02-27 18:13] JJonesAtAvaya commented on #739
It worked!  Thanks very much

[2019-02-28 04:53] devn opened #740 "startManual's fate"
[The docs](https://github.com/DataDog/dd-trace-java/blob/7f74fb51d37acbb1793a288863bb757353787c11/dd-trace-ot/docs/opentracing-api.md#L60) mention using `startManual`, but I found that it is marked as deprecated [here](https://github.com/DataDog/dd-trace-java/blob/0cdc80aa149e6fa588a1f19ee792b42a59017450/dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java#L493). It looks like the example i

[2019-02-28 05:06] AvinashM7 commented on #738
Hi @mar-kolya , thanks for the reply!

We have dd-java-agent through Java arguments as shown below:
wget -O /platform/dd-java-agent.jar 'https://search.maven.org/classic/remote_content?g=com.datadoghq&a=dd-java-agent&v=LATEST'

java -classpath . -javaagent:/platform/dd-java-agent.jar -jar /{serviceName}.jar

Below is the code snippet where the exception is occurring:

JasperFillManager.fillReport(

[2019-02-28 14:23] mar-kolya commented on #738
Hi @AvinashM7 thanks for more details on the issue.

We would have to look into this in more detail. In the meanwhile you might be able to work around this problem by adding `--add-exports` similarly to what outlined here: https://stackoverflow.com/questions/51555030/swing-issue-on-java-10

[2019-02-28 20:27] tylerbenson commented on #740
Yeah, `start` is the better option since that is what OpenTracing is moving to: https://github.com/opentracing/opentracing-java/blob/master/opentracing-api/src/main/java/io/opentracing/Tracer.java#L207
Would you be interested in submitting a PR to the docs site to update that?

[2019-03-01 09:40] AvinashM7 commented on #738
Hi @mar-kolya
I have tried the above option earlier with no luck.

But actually, the problem is one of the JDK class unable to find the data dog specific class which has a dynamic class package(means not available in the dd-java-agent jar)

[2019-03-04 08:44] mliu111477 commented on #677
I has the same issue on the Java 8 VM.

**dump file:**
---------------  T H R E A D  ---------------

Current thread (0x00007fa354a28800):  JavaThread "C2 CompilerThread0" daemon [_thread_in_native, id=22053, stack(0x00007fa33695b000,0x00007fa336a5c000)]

siginfo: si_signo: 11 (SIGSEGV), si_code: 1 (SEGV_MAPERR), si_addr: 0x0000000000000008

Registers:
RAX=0x0000000000000000, RBX=0x00007fa336a585f

[2019-03-04 15:12] mar-kolya commented on #677
@mliu111477 This dump seems to have been created by build 101 of Java8. [This page](https://www.java.com/en/download/faq/release_dates.xml) suggests that current build number is 201. These kinds of bugs may be fixed in incrementa JVM builds.

Also `dep.com.lagou.pard.dependencies.net.bytebuddy.description.type.TypeDescription$Generic$OfTypeVariable::accept` - this looks like repackaged Bytebuddy,

[2019-03-05 03:34] mliu111477 commented on #677
Thank you for reply.
This crash is not appear every time, are you sure this bug is fix in the 201 version?

I'm not using Datadog APM Project. It's my custom APM project with Bytebuddy dependency, just use shade maven-plugin to replace package prefix. I use Bytebuddy 1.7.9 version, is this a bug?

Sorry for my poor English.

[2019-03-05 18:07] mar-kolya commented on #677
I think @mliu111477's reply sort of points towards that being not directly caused by Datadog's APM agent or Bytebuddy and is indeed a JVM bug.

I'm not sure if that s fixed in build 201, but this is the best hope at this point. Alternative is to submit a bug to openjdk/oracle.

[2019-03-05 18:41] raphw commented on #677
It might even be that these issues are only fixed in Java 9+. Oracle has stopped backporting bugfixes for 8 a while ago.

[2019-03-11 22:01] mattdrees commented on #665
JMXFetch 2.27.0 was released last week with support for unix domain sockets. (Thanks to @arbll !)

[2019-03-12 02:52] mattdrees commented on #665
awesome, thanks!

[2019-03-12 15:22] tylerbenson commented on #717
I assume you were asking this to be able to support B3.  We've decided to implement that instead: #756
If I misunderstood, please explain your use-case.

[2019-03-12 15:24] tylerbenson commented on #351
FYI: We are adding support for B3 in #756.

[2019-03-12 15:50] aantono commented on #717
I was actually looking to be able to integrate with traces originating from Haystack, they use a different header names -
https://github.com/ExpediaDotCom/haystack-client-java/blob/master/core/src/main/java/com/expedia/www/haystack/client/propagation/DefaultKeyConvention.java#L25:L31

There is also Jaeger, which has their own propagation codec names as well, so I thought it would be beneficial to

[2019-03-15 19:07] tylerbenson commented on #665
This is included in the latest release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.25.0

[2019-03-15 19:07] #665 closed

[2019-03-19 18:42] accurate-dev opened #771 "ClassNotFoundException with Hibernate instrumentation in Datadog APM Agent v0.25.0"
We are currently using Tomcat v7.0.90 with Hibernate v3.1.3 and dd-java-agent-**0.25.0**.jar is throwing the following exception in our application:

java.lang.ClassNotFoundException: datadog.trace.bootstrap.instrumentation.context.FieldBackedProvider$ContextAccessor$org$hibernate$Query$datadog$trace$instrumentation$hibernate$v4_0$SessionState

This is only an issue starting with the latest 0.25.0

[2019-03-19 22:37] tylerbenson commented on #771
Hibernate instrumentation was only added in `0.25.0`, so this is why you haven't seen it before.  The instrumentation should only be activated on v4+, so I'm surprised you're seeing it with that version. Perhaps you could somehow confirm what version of `hibernate-core` is being loaded?

You can disable the instrumentation using `-Ddd.integration.hibernate.enabled=false`.

[2019-03-19 23:58] accurate-dev commented on #771
Hi @tylerbenson, thanks for the quick response! If this is a potential bug that affects applications with hibernate v3 (I have confirmed we are using v3.13), is there any plans to provide a fix? I understand we can manually disable the instrumentation with the java opts argument, but we'd prefer to wait for a fix while we temporarily use v0.24.0 in the meantime.

[2019-03-20 00:44] willgittoes-dd commented on #771
This is a bug, I can reproduce it with Hibernate 3.3.0.GA. I am looking into a fix now.

[2019-03-20 21:48] darylrobbins opened #774 "Twilio SDK Support"
I would like to add first-class instrumentation support for the Twilio SDK. Ideally, Twilio API calls should show up under their own service, say java-twilio-sdk. This would be similar to how the aws-sdk instrumentation works today. From reviewing the Twilio source code, [com.twilio.http. HttpClient.reliableRequest()](https://github.com/twilio/twilio-java/blob/master/src/main/java/com/twilio/http/

[2019-03-20 22:10] tylerbenson commented on #774
Allow me to clarify...

Are you offering to provide a pull request?  If that's something you'd be comfortable with, that would probably be the most expedient option.

[2019-03-20 22:12] darylrobbins commented on #774
Yes, your contribution guide said to raise an issue prior to adding new features.

[2019-03-20 22:16] tylerbenson commented on #774
Great! Thanks for asking.  I just wanted to make sure it was an offer and not a request.

I'm not familiar with Twilio's API, but I'm happy to answer questions on how to instrument.  If you want to ping me on https://chat.datadoghq.com that might be the fastest way to answer questions.

[2019-03-22 01:02] tylerbenson commented on #771
This fix will be included in our next release.  If necessary you can test the [latest snapshot](https://oss.jfrog.org/artifactory/oss-snapshot-local/com/datadoghq/dd-java-agent/0.26.0-SNAPSHOT/dd-java-agent-0.26.0-SNAPSHOT.jar).

[2019-03-25 15:23] tylerbenson commented on #771
Additional fixes are included in #777.

[2019-03-26 10:55] marcust opened #779 "Regression in 0.26.0"
I just had a system die after upgrading to 0.26.0. I'm not super sure what happened, but apparently there are some class loading issues.

I see some  `java.lang.NoClassDefFoundError` for
`datadog/trace/bootstrap/instrumentation/context/FieldBackedProvider$ContextAccessor$java$net$HttpURLConnection$datadog$trace$instrumentation$http_url_connection$HttpUrlConnectionInstrumentation$HttpUrlState` comi

[2019-03-26 13:50] aantono opened #780 "ClassNotFoundException with HttpURLConnection instrumentation in Datadog APM Agent v0.26.0"
Similar to #771 after the latest 0.26.0 was released earlier today, started seeing the following exception:

[code]

[2019-03-26 14:09] aantono commented on #779
Duplicate of #780

[2019-03-26 14:25] tylerbenson commented on #779
Thanks for the report. Well take a look at this ASAP.

[2019-03-26 14:29] tylerbenson commented on #779
What JDK version are you using?

[2019-03-26 14:34] tylerbenson commented on #780
Thanks for the report. We are investigating.

[2019-03-26 14:34] tylerbenson commented on #780
Which JDK version?

[2019-03-26 14:37] cidrick commented on #780
```OpenJDK Runtime Environment Corretto-8.202.08.2 (build 1.8.0_202-b08)```

[2019-03-26 15:42] marcust commented on #779
@tylerbenson
[code]

[2019-03-26 20:18] mar-kolya commented on #780
@aantono @cidrick Could you please try this snapshot build and let us know if it fixes the problem: https://21032-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.27.0-SNAPSHOT.jar
Thanks!

[2019-03-26 20:18] mar-kolya commented on #779
@marcust Could you please try this snapshot build and let is know if it fixes the problem: https://21032-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.27.0-SNAPSHOT.jar ?
Thanks!

[2019-03-26 23:45] clbpadi commented on #780
@mar-kolya I encountered the same issue today.  The snapshot build mentioned above appears to fix the issue.

[2019-03-27 09:36] marcust commented on #779
@mar-kolya Looks good to me, at least with one case that I could reproduce it with I can't anymore.

[2019-03-27 15:45] tylerbenson commented on #771
This fix is included in the latest release.

[2019-03-27 15:45] #771 closed

[2019-03-27 22:24] tylerbenson commented on #779
The fix for this is released, but shortly after we discovered a bigger issue with `0.26.0-1` around traces being rejected by the agent and should have a fix for that released ASAP.  You'll want to wait for that to upgrade.

[2019-03-27 22:24] #779 closed

[2019-03-27 22:24] tylerbenson commented on #780
The fix for this is released, but shortly after we discovered a bigger issue with `0.26.0-1` around traces being rejected by the agent and should have a fix for that released ASAP.  You'll want to wait for that to upgrade.

[2019-03-27 22:24] #780 closed

[2019-03-28 00:17] nhoughto commented on #429
Any updates on this? We heard from product that this was tentative for first quarter this year? Almost end of first quarter =)

[2019-04-04 11:45] guzmo opened #793 "Disable logging"
Hello there! :)

Sorry if this information exists somewhere, but I couldn't find anything obvious.

Currently we are getting a lot of these logs below.
[code]
We would only like to know when something goes wrong, but not that it keeps sending metrics all the time. Is it possible to disable these logs?

Cheers!

[2019-04-13 12:26] alfredosc8 opened #800 "http.client instrumentation is creating every time new trace without check the presence of headers"
The http.client instrumentation is creating new trace every time without check if request contains the x-datadog* headers.
That i interrupting the trace when calling multiple services in microservice architecture

[2019-04-13 12:28] alfredosc8 opened #801 "Spring Integration is not instrumented at all"
Spring Integration is not instrumented at all

[2019-04-13 12:32] alfredosc8 opened #802 "Build is not working"
Running ./gradlew build is not working , on Mac, with this error:
* What went wrong:
Could not determine the dependencies of task ':dd-java-agent:instrumentation:shadowJar'.

     Searched in the following locations:
         file:/Users/ascotto/.m2/repository/com/github/jnr/jffi/1.2.17/jffi-1.2.17-native.jar

[2019-04-15 17:15] tylerbenson commented on #802
if you're trying to build the javaagent, try running just `./gradlew :dd-java-agent:shadowJar`.

[2019-04-15 17:18] tylerbenson commented on #801
@alfredosc8 I am not familiar at all with https://spring.io/projects/spring-integration.  Could you please elaborate what you think would be useful to instrument?  Would you be interested in writing the instrumentation and submitting a PR?

[2019-04-15 17:20] tylerbenson commented on #800
This is better discussed via [support](https://www.datadoghq.com/support/).  Please file a ticket for further troubleshooting.

[2019-04-15 17:20] #800 closed

[2019-04-16 11:18] alfredosc8 commented on #801
yes i’m

Sent from my iPhone

[2019-04-16 11:19] alfredosc8 commented on #802
i found the issue, jffi is not coming when building on mac, i built it and i’m ok now

Sent from my iPhone

[2019-04-16 15:10] #802 closed

[2019-04-16 23:36] alfredosc8 commented on #801
Ok I will

[2019-04-18 12:21] ricktg commented on #801
Spring itself is a set of tens of components. To name a few:
 * spring-data
 * spring-security
 * spring-ws
 * spring-core

I'd recommend phase it out so there is no mixup.

[2019-04-18 13:21] alfredosc8 commented on #801
Ricardo, spring integration is the integration project of spring, with channels, gateways, pipelines.
in any case i have been able to trace in it but adding interceptors. i also discovered the httpurlconnection instrumentation is not working properly when part of complex trace. it it not continuing the current trace.

Sent from my iPhone

[2019-04-18 18:11] sblumenthalAtBraze opened #806 "Add ability to customize JMXFetch initialization"
Right now, looking through the code for the included JMXFetch in this repo, it looks like the initial configuration of the underlying JMXFetch instance is hard coded (see here: https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/agent-jmxfetch/src/main/java/datadog/trace/agent/jmxfetch/JMXFetch.java#L23 which points to here: https://github.com/DataDog/dd-trace-java/blob/master/dd-ja

[2019-04-20 04:34] rgueldem opened #808 "kafka-clients instrumentation doesn't work for all consumers"
We use the [alpakka-kafka](https://github.com/akka/alpakka-kafka) client library which uses [`records​(TopicPartition partition)`]( https://kafka.apache.org/20/javadoc/org/apache/kafka/clients/consumer/ConsumerRecords.html#records-org.apache.kafka.common.TopicPartition-) for pulling consumers records. It seems that the kafka-clients instrumentation only covers `records​(String topic)`. This result

[2019-04-22 15:07] tylerbenson commented on #806
We provide additional jmxfetch options that are passed from the javaagent down through.  For example, `dd.jmxfetch.metrics-configs` might provide what you're looking for.

More config options are listed here: https://docs.datadoghq.com/tracing/setup/java/#configuration

If there's a specific configuration you're unable to achieve, let us know and we can try to add config options for it.

[2019-04-23 06:43] brentm5 commented on #806
I know that we use the `dd.jmxfetch.metrics-configs` setting to collect metrics from a different java container format.  The only issue we have seen is that on startup the metrics aren't guaranteed to be there by the time JMX-Fetch starts up and analysis the beans to report.

We improved our story by setting `dd.jmxfetch.refresh-beans-period` to be 120 seconds instead of 600 seconds which allowed

[2019-04-23 11:53] johanvandeweerd commented on #793
You can set the log level to warn:
`-Ddatadog.slf4j.simpleLogger.defaultLogLevel=warn`

[2019-04-23 12:23] brentm5 commented on #793
Pretty sure this was fixed with https://github.com/DataDog/dd-trace-java/pull/796

[2019-04-23 12:26] johanvandeweerd commented on #793
@brentm5 that issue only changed the log level from error to info for log statements starting with `JMXFetch config:`

[2019-04-23 16:01] tylerbenson commented on #793
Ultimately the best way to fix this is to migrate [JMXFetch](https://github.com/DataDog/jmxfetch) over to SLF4J which will then allow it to use the same logging system.  Anyone want to offer a PR?

[2019-04-23 17:01] drobert commented on #806
We, similarly, ran into the issue of having some lazily-evaluated beans we didn't want to wait 10 minutes for, so we dropped the refresh period to 120. It would be valuable to have a refresh-backoff strategy on startup with a max value specified so that beans can be discovered relatively quickly on startup but then we don't pay the price forever.

In a separate customization vein, I don't see any

[2019-04-25 14:42] wlk opened #810 "feature request: Java 12 support"
Hi,
I'm running my application with this docker image: `adoptopenjdk/openjdk12:jdk-12.33-alpine-slim` and agent version `0.26.2` (latest)

Unfortunately on startup application generates errors and tracing doesn't work:

[code]

As far I was able to verify this is because of changes in Java 12, I'm also running several applications with OpenJDK 11 which are fine.

Can you confirm that this is the c

[2019-04-25 16:13] tylerbenson commented on #716
This should be fixed in 0.27.0 with #786.  Thanks for the report.

[2019-04-25 17:08] provcristianmaluenda commented on #738
Hi,
I am facing the same issue. Any update?

[2019-04-25 17:27] tylerbenson commented on #810
@raphw can you offer any advice for how to fix this?  We are using the `ClassInjector` here: https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/HelperInjector.java#L111

[2019-04-25 17:28] tylerbenson commented on #810
@raphw perhaps we just need to upgrade? https://github.com/raphw/byte-buddy/issues/631

[2019-04-25 17:31] raphw commented on #810
I'd expect it to work with 12 and 13.

[2019-04-25 17:34] tylerbenson commented on #810
@raphw great, thanks!  I'll get it upgraded to the latest and go from there.

[2019-04-25 17:48] tylerbenson commented on #738
@provcristianmaluenda would you mind raising the issue through support?  I think that will help us get further details.

[2019-04-25 18:16] tylerbenson commented on #810
@wlk #812 should help.  Wanna try the build from that PR to confirm? https://22504-89221572-gh.circle-artifacts.com/0/home/circleci/dd-trace-java/libs/dd-java-agent-0.27.0-SNAPSHOT.jar

[2019-04-26 07:24] wlk commented on #810
Thanks, I have tested the snapshot above and it works good on Java 12, until 0.27.0 is released I'm going to rollback to JDK 11.

[2019-04-26 15:01] tylerbenson commented on #810
Great! Thanks for the confirmation.

[2019-04-27 19:43] raphw opened #813 "Instrumenting javax.servlet.http.HttpServlet emits stack map frame."
I was looking into a corrupted class file and found that the corruption came from the instrumentation of the Data Dog agent. Since this is probably a problem in Byte Buddy, I am eager to find out about it, of course.

The class file in question is `javax.servlet.http.HttpServlet` in Java version two which contained a *StackMapFrame* attribute for the `service(HttpServletRequest, HttpServletRespons

[2019-04-27 20:31] raphw commented on #813
Alright, it is your ASM code. The class file gets corrupted here: https://github.com/DataDog/dd-trace-java/blob/9988c8775f6c50115ba26458a191945ec98a7afb/dd-java-agent/agent-tooling/src/main/java/datadog/trace/agent/tooling/ExceptionHandlers.java#L70

[2019-04-27 21:00] raphw commented on #813
I added an argument in Byte Buddy for the next version to include the class file version in the error handler resolver. Ideally, you register a wrapper for the class file version to suppress all calls to `visitFrame`.

[2019-04-28 08:34] raphw commented on #813
I recommend you to only emit frames for Java 6 and higher. The stack manipulation provides an implementation.context object for this purpose.

[2019-04-29 15:29] tylerbenson commented on #813
Hey Raph, I really appreciate you looking into this.

I seem to recall us using some byte buddy code somewhere that converts java class files to a newer version.  Since it sounds like this applies to classes compiled for older JVM's, wouldn't that help solve this problem?

[2019-04-30 08:24] raphw commented on #813
You could register a visitor that removes all frames.

[2019-04-30 17:42] sblumenthalAtBraze commented on #806
@tylerbenson the metrics config setting that you provide seems to only work for adding custom metrics to pull (the things that would be located under instances.conf in the solo jmx config if I were to use it outside of the java agent).

The reason it is an issue is because I am hitting the jmx metrics limit per host (kafka consumer app, and some metrics we REQUIRE partition level granularity...the

[2019-04-30 18:13] #813 closed

[2019-05-03 20:34] tylerbenson commented on #774
This has been released: https://github.com/DataDog/dd-trace-java/releases/tag/v0.27.0.
@darylrobbins thanks again for the PR!

[2019-05-03 20:34] #774 closed

[2019-05-03 20:34] tylerbenson commented on #716
0.27.0 has been released: https://github.com/DataDog/dd-trace-java/releases/tag/v0.27.0

[2019-05-03 20:34] #716 closed

[2019-05-03 20:35] tylerbenson commented on #810
@wlk 0.27.0 is now available: https://github.com/DataDog/dd-trace-java/releases/tag/v0.27.0

[2019-05-03 20:35] #810 closed

[2019-05-06 16:35] slisaasquatch opened #820 "How do I add my own ScopeManager with dd-trace-ot 0.27.0?"
Before 0.27.0, we had our own `ScopeManager` with our own `ThreadLocal<Scope>`, and we rely on our custom `Executor` to pass along the `Scope`, and `addScopeContext` seems deprecated now.
How do I achieve the same thing in 0.27.0?

[2019-05-06 16:42] tylerbenson commented on #820
Interesting.  I wasn't aware of anyone actually using this API.  Would you mind sharing more details about your implementation?
Are you using `dd-java-agent` or just `dd-trace-ot`?

[2019-05-06 16:48] slisaasquatch commented on #820
I'm using `dd-trace-ot`. We use opentracing API in our code and we try to be implementation agnostic, since we switch between `dd-trace-ot` and Jaeger. Our app is async across the board, so we have to use our own implementation of `ScopeManager` with our own `ThreadLocal<Scope>` and pass it along with our own `Executor.

[2019-05-06 23:24] tylerbenson commented on #820
I'm impressed that you're able to manage the async state correctly by using that and a custom `Executor`.  Do you have any suggestions for ways we can simplify and/or make it more standard?

[2019-05-06 23:45] slisaasquatch commented on #820
My suggestion would be add the ability of using my own implementation of `ScopeManager`, which you could do before 0.27.0. It doesn't necessarily have to be the exact same way, and that's what Jaeger supports as well.

[2019-05-06 23:48] tylerbenson commented on #820
Ok, I will investigate that option before removing this method.  Thanks for bringing up the issue.

[2019-05-09 16:41] devstuff commented on #429
I've also got a K8s app with the same need for a readonly filesystem.

@realark Any updates on a build-time solution as proposed in the linked PR #440 ?

[2019-05-10 05:38] valenterry opened #826 "Link to documentation broken"
Hope that's the right place for the issue. In the Datadog APM Service UI, the Link for how to set JVM metrics is broken. It links to https://docs.datadoghq.com/tracing/advanced_usage/?tab=java#runtime-metrics but should probably link to https://docs.datadoghq.com/tracing/advanced/runtime_metrics/?tab=java

[2019-05-10 08:55] labbati commented on #826
Hey thanks for noticing that. We notified the UI team in order to get that fixed, I will update this issue once it gets done.

[2019-05-14 13:10] scdevops commented on #614
I created PR #831 to add support for WebClient. It's still rough around the edges but it's a start. Hope this is enough to speed things up.

[2019-05-14 13:12] johanvandeweerd commented on #614
I created PR #831 to add support for WebClient. It's still rough around the edges but it's a start. Hope this is enough to speed things up.

[2019-05-16 09:33] dehun opened #834 "DDTracer.inject fails on datadog.opentracing.propagation.ExtractedContext"
Steps to reproduce
1. create span
2. inject it into carrier with `datadog.opentracing.DDTracer#inject`
3. extract it from carrier with `datadog.opentracing.DDTracer#extract`
4. inject just extracted `SpanContext` into another carrier with `datadog.opentracing.DDTracer#inject`

[code]

[2019-05-17 00:09] tylerbenson commented on #834
Could you explain a bit what you're trying to do?  Why not inject the original span's context?

[2019-05-17 00:11] tylerbenson commented on #528
I think this is handled in #824 which will be included in our next release.

[2019-05-17 00:13] tylerbenson commented on #793
This will be improved in #838 as I've done the work to migrate JMXFetch to SLF4J in https://github.com/DataDog/jmxfetch/pull/223

[2019-05-17 00:14] tylerbenson commented on #806
This should be improved in #838, but that's currently blocked waiting for the requisite PRs to be merged and released in JMXFetch.  Still targeting the next release.

[2019-05-17 00:21] tylerbenson commented on #693
JMXFetch logging is being improved in the next release with #838, but I don't think we'll be changing the default log format.  I think you can override it though via a [SimpleLogger](https://www.slf4j.org/api/org/slf4j/impl/SimpleLogger.html) system property. (replacing `org` with `datadog` in the package name)

[2019-05-17 00:25] tylerbenson commented on #575
I think this is solved in `0.25.0+` with #741.  Closing.  Please reopen if still a problem.

[2019-05-17 00:25] #575 closed

[2019-05-17 08:16] dehun commented on #834
We have scala codebase and we used datadog agent with automatic instrumentation(`-javaagent:$(pwd)/dd-java-agent.jar`). We encountered issues with it, and decided to do manual instrumentation instead using scala implicits. So we built a thin wrapper on top of opentracing api.
We do use grpc, and we want to serialize `SpanContext` over the network.
I wrote a simple test that ensures that we can do

[2019-05-17 13:00] sblumenthalAtBraze commented on #806
That is awesome! Thank you for taking the time to work on it!

[2019-05-17 21:24] tylerbenson commented on #528
0.28.0 is now available.

[2019-05-17 21:24] #528 closed

[2019-05-17 21:25] andrewsouthard1 commented on #429
Hey all, we haven't been able to prioritize this in the short-term. We'll continue to keep this in our backlog and revisit when we can take a look further.

[2019-05-20 22:09] sean-madden opened #847 "PendingTraces leak to old gen space"
Hello,

Since enabling datadog APM (v0.26.2) in production for one of our services, we've noticed that the old gen size starts growing:
<img width="617" alt="Screen Shot 2019-05-20 at 2 50 30 PM" src="https://user-images.githubusercontent.com/30605997/58054207-ba7ca400-7b0e-11e9-812b-25d01d17d6b5.png">

This correlates with ECS terminating the container task and replacing it with a new one because

[2019-05-20 22:21] tylerbenson commented on #847
@sean-madden Thanks for the report. It would probably be best to contact support@datadoghq.com as they'll be able to dig in and get more details.

My guess is that you have a scope somewhere that isn't getting closed properly for some reason.  One thing that might help is setting `dd.trace.partial.flush.min.spans` (added in [0.22.0](https://github.com/DataDog/dd-trace-java/pull/662)).  If you upgr

[2019-05-21 10:23] nielsvn92 opened #848 "Upgrade OpenTracing dependencies"
Currently, OpenTracing v0.31.0 is being used which was released on 2018-01-12.
The most recent version is v0.33.0, which was released 2019-05-06.

In our application we (of course) use the latest stable versio, in which a few methods are dropped, specifically on the ScopeManager. This causes us to not be able to use the latest OpenTracing version in combination with DataDog.

We'd really appreciat

[2019-05-21 14:37] tylerbenson commented on #848
I understand the concern.  We are trying to remove the OpenTracing dependency in dd-java-agent before we upgrade, to ensure we don't cause additional problems.  Thanks for your patience and for bringing this to our attention.

[2019-05-21 15:27] sean-madden commented on #847
@tylerbenson I've opened a ticket with support, and they have given me a list of things to gather. I'm going to work on updating this package to 0.27.0+ in prod and also try to narrow down some steps to reproduce this issue.

[2019-05-21 15:29] tylerbenson commented on #847
Great, thanks!  I'm going to close this issue and we can reopen later if necessary.  Feel free to continue adding details though.

[2019-05-21 15:29] #847 closed

[2019-05-22 03:55] yeluolei opened #850 "Support instrument for CompletableFuture"
Our code is heavily based on CompleatableFuture, and I found there is no way to instrument for this. thus we have to pass through the tracer var parameters, which make our API very mess up. and GlobalTracer is not work anymore inside CompletableFuture, any instrument inside this also not work.

can we add auto instrument for this?

[2019-05-22 04:34] yeluolei opened #851 "OpenTracing document"
there is no ActiveSpan anymore and the document is still list it as a class.

https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-ot/docs/opentracing-api.md

[2019-05-22 09:34] yeluolei opened #852 "ContinuableScope with javaagent"
Hello,

I am trying to use the dd-java-agent when the Play framework started up, and it works fine. but when I try to use the `ContinuableScope`, something bad happened.

`ContinuableScope` is in `datadog.opentracing` package, and in java agent, it is relocated to `datadog.trace.agent.ot`. thus I can't cast and get the `ContinuableScope`, because I can't reference the package during compile time.

[2019-05-22 19:15] vgarmash-chewy commented on #605
`trace.methods` do not offer any wildcard capability. As the result it looks very unmanageable to instrument many classes. Look how long it looks just for 2 classes from Quartz scheduler:
[code]

[2019-05-22 23:46] tylerbenson commented on #605
@vgarmash-chewy we are evaluating a file based option that will hopefully be more manageable.  Stay tuned.

[2019-05-23 01:35] vgarmash-chewy commented on #605
I hope that "file" solution would also include AOP style.

[2019-05-23 14:32] tylerbenson commented on #605
@vgarmash-chewy would you be interested in submitting a PR to automatically instrument quartz? That might be the best option...

[2019-05-23 20:15] wajahat-nclouds opened #853 "JVM METRIX not showing on dashboard"
I have successfully configured the APM but facing issue using while enabling JMX Metrics in my apps. I am running datadog agent as a container. I have also injected the `DD_JMXFETCH_ENABLED=true` in my java application. My java application is running in container. When i check the logs of my java application container, It seems liked JMX is working but i am not getting data on dashboard. Following

[2019-05-23 20:59] tylerbenson commented on #850
Could you provide some code samples demonstrating what you're trying to do?

[2019-05-23 21:05] tylerbenson commented on #852
You can cast it to a `TraceScope` available in the [public api](https://github.com/DataDog/dd-trace-java/blob/master/dd-trace-api/src/main/java/datadog/trace/context/TraceScope.java).  If you're trying to get tracing working with custom executors, you can try the new setting in [0.28.0](https://github.com/DataDog/dd-trace-java/releases/tag/v0.28.0) `dd.trace.executors`, which might solve your prob

[2019-05-23 21:55] andrewsouthard1 commented on #853
Hey @wajahat-nclouds for this issue our team would like to take a look through a support ticket, can you email support@datadoghq.com so we can take a closer look to see where the disconnect may be?

[2019-05-24 00:15] yeluolei commented on #852
got it, thanks! I will have a try. and after saw the new version config, it's awesome.

[2019-05-24 13:24] andrewsouthard1 commented on #826
Thanks for flagging @valenterry we've ensured this has been updated.

[2019-05-24 13:24] #826 closed

[2019-05-24 13:25] andrewsouthard1 commented on #853
Closing as we'll investigate outside of this.

[2019-05-24 13:25] #853 closed

[2019-05-24 13:26] andrewsouthard1 commented on #603
@redijedi Can you confirm whether you see this issue in the latest tracing client?

[2019-05-24 14:45] vgarmash-chewy commented on #605
I believe that instrumentation of the library without full knowledge of all it's functions is very hard task. It will take a lot of time and a lot of iterations to get it right.

I think the best option would be having universal simple way to instrument any java library without accessing it's source code. Since DD Java agent has access to wrap any Java class it should be possible to define pointcu

[2019-05-24 16:02] tylerbenson commented on #605
@vgarmash-chewy if you're looking for something AOP style, I suggest you use something like Spring AOP or AspectJ and add the custom instrumentation yourself.  If the AOP framework allows adding annotations, you can add `@Trace`, otherwise adding the OpenTracing logic shouldn't be difficult with AOP.  I believe some AOP frameworks even allow you to make the changes at compile time.  This would giv

[2019-05-24 17:55] yeluolei commented on #850
what I am trying to do

[code]

I need to wrap it like the following to make it work:

[code]

it's easy to fix if there is only one level of CompletableFuture, but if there is a much level call, or a chained call, it will spend a lot of time to trace  with the same code thousands of times.

[2019-05-24 20:24] brentm5 opened #858 "Rabbitmq Integration does not properly report parent service for consumer threads"
Currently the integration for Rabbitmq does not work as well as it could for consumer services.  We run many different async processes which leverage the rabbitmq consumer libraries to pull messages of queues and perform background operations.  Most of the heavy lifting is handled by the rabbitmq library with regards to dequeuing messages to passing them to your consumer functions.  Currently our

[2019-05-24 20:42] mar-kolya commented on #850
@yeluolei You may want to consider the following: instead of doing

[code]

you could do something like:

[code]

With this span should be automatically propagated into async calls and you do not need to change internals of `CompletableFuture.supplyAsync` parameter.

Please let me know if this helps.

[2019-05-25 08:30] yeluolei commented on #850
hi @mar-kolya , I am using the datadog-java-agent.jar when start my application, and I have saw the code, it's already setup setAsyncPropagation to true when start. can you confirm?

thanks!

[2019-05-27 06:32] yeluolei commented on #852
cast to TraceScope works, thanks!

[2019-05-27 06:32] #852 closed

[2019-05-27 08:24] yeluolei commented on #850
hi @mar-kolya , I have a test again today, and I found
[code]

but if you remove some code from the above
[code]

all of the code above is inside play framework action method.

but if you put everything inside a normal java application, it will work:
[code]

[2019-05-27 14:37] mar-kolya commented on #850
@yeluolei thanks for an update. It looks like there might be some problem going on with async propagation in completable futures. We would have to investigate that more.
Thanks for bug report!

[2019-05-28 01:18] yeluolei commented on #850
@mar-kolya you are welcome, and thanks for your excellent work for this. I am not very familiar with java multiple thread, so I can't help too much.

[2019-05-29 17:36] tylerbenson commented on #793
This should be fixed in this release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.29.0

[2019-05-29 17:36] #793 closed

[2019-05-29 17:38] tylerbenson commented on #693
This should be fixed in this release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.29.0
Let us know if you see further issues.

[2019-05-29 17:38] #693 closed

[2019-05-29 17:39] tylerbenson commented on #806
This should be fixed in this release: https://github.com/DataDog/dd-trace-java/releases/tag/v0.29.0
Let us know if you see further issues.

[2019-05-29 17:39] #806 closed

[2019-05-29 21:20] #707 closed

[2019-05-29 21:22] tylerbenson commented on #649
I think this issue is resolved.  If you are still having problems, please reopen or contact support.

[2019-05-29 21:22] #649 closed

[2019-05-31 18:07] sblumenthalAtBraze commented on #380
So, I figure I will post an update here, because I tried enabling the jax-rs integration this week using agent version 0.25 and ran into the same problem.

What is happening is that, SOMETIMES, not always, a redeploy of the code would result in 100% of requests throwing the same stacktrace as the one posted at the top.

Since I had first opened this ticket, I noticed that we were not packaging all

[2019-06-06 17:13] andrewsouthard1 commented on #606
Hey all! As an update we're taking a look at this here: https://github.com/DataDog/dd-trace-java/pull/866

[2019-06-06 17:58] vgarmash-chewy commented on #606
Very good. Seems like someone found the JDBC specification ;). Good job! Looking forward to it!

[2019-06-06 18:11] tylerbenson commented on #606
@vgarmash-chewy unfortunately parsing JDBC urls are non-trivial since they're very inconsistent.

If anyone has particular Driver implementations that are important to them, please voice your opinion.  Additionally, it would be helpful if you could provide a sample JDBC URL string (please don't include passwords).

Thanks!

[2019-06-06 18:35] vgarmash-chewy commented on #606
Yes, I agree. If you look into https://download.oracle.com/otn-pub/jcp/jdbc-4_1-mrel-spec/jdbc4.1-fr-spec.pdf, paragraph 9.4.1, you'll see this:

and then it following with list of standard properties, including "databaseName", which you are trying to read. I think it can work. I agree with you that it is not easy task since JDBC vendors are trying to hide as much as they can from the client.
Alth

[2019-06-06 19:02] darin-holloway commented on #606
Beyond vanilla Mysql Connector/J, we would need support for

Mariadb/aurora https://mariadb.com/kb/en/library/about-mariadb-connector-j/#connection-strings

ex:

`jdbc:(mysql|mariadb):[replication:|failover:|sequential:|aurora:]//<hostDescription>[,<hostDescription>...]/[database][?<key1>=<value1>[&<key2>=<value2>]] `

[2019-06-11 01:02] tylerbenson commented on #606
@darin-holloway thanks for pointing that out.  I assumed that Mariadb was just like Mysql.  Adding all those additional formats took some time, but glad we caught it now.  The PR is updated to support those.

[2019-06-14 16:22] tylerbenson commented on #606
Is anyone able to do a quick validation (we plan to release this early next week)?
Please download the latest snapshot here: https://oss.jfrog.org/artifactory/oss-snapshot-local/com/datadoghq/dd-java-agent/0.30.0-SNAPSHOT/dd-java-agent-0.30.0-SNAPSHOT.jar

To enable:
* System Property: `-Ddd.trace.db.client.split-by-instance=true`
* Environment Variable: `DD_TRACE_DB_CLIENT_SPLIT_BY_INSTANCE=true`

[2019-06-15 22:01] fabiocmazzo opened #887 "Add Custom Span Metadata"
Hello,

   I need add custom span metadata to specific trace, using runtime info.
   But the current document looks outdated: [https://docs.datadoghq.com/tracing/advanced/adding_metadata_to_spans/?tab=java#adding-metadata-to-a-span-via-tags](url)

  The method activeSpan() doest not exists in current version (0.29.1), just a spanId.

Thank You

[2019-06-15 23:13] fabiocmazzo commented on #887
Closing, must be used GlobalTracer from OpenTracing Implementation. Thanks.

[2019-06-15 23:13] #887 closed

[2019-06-17 21:46] labbati commented on #606
Hello everybody. Version [0.30.0](https://github.com/DataDog/dd-trace-java/releases/tag/v0.30.0) is out which will let you assign a service name matching the database instance name to all db clients spans, as described by @tylerbenson.

[2019-06-19 17:09] hengkysucanda opened #892 "Lagom (Akka HTTP) Distributed Tracing Support"
It looks like on Play Framework i was able to get distributed tracing working out of the box if i use Play-WS as the HTTP Client.

Perhaps we can request to do the same with Lagom ?

[2019-06-19 23:35] jack-garner opened #893 "Finagle/Netty creating separate traces"
Some of the projects we are trying to trace use Finagle/Finatra as the http server. Since they use Netty behind the scenes, we can get automatic tracing when a request comes in, but can't get annotated functions to show up in the same trace. We end up with one trace with "Get /route" and only a single span, and another trace with the all of the function calls. What we expect to see is a single tra

[2019-06-20 17:48] #606 closed

[2019-06-21 03:01] yeluolei commented on #850
@mar-kolya any update for this problem?

[2019-06-21 10:21] ratcashdev commented on #802
@alfredosc8 what do you mean by 'not coming'? I have a similar problem with gradle (on windows), although in a different project.

[2019-06-21 11:20] alfredosc8 commented on #802
i solved, thanks

Sent from my iPhone

[2019-06-21 15:17] dpratt opened #896 "Scala 2.13 support for Akka-http"
It looks like the Java agent doesn't detect that the Scala 2.13 version of Akka-http is a candidate for auto instrumentation. I've gone through the code, and it looks like there shouldn't be anything that would make the existing implementation not work for both 2.12 and 2.13.

I do suspect that this is something quite simple to do it probably has something to do with how byte buddy does candidate

[2019-06-21 18:13] dpratt commented on #896
Upon further investigation, this appears to have something to do with the fact that scala.Serializable moved from being a concrete trait that extends java.io.Serializable (and thus a compiled class file) to a type alias to java.io.Serializable. For some reason, the instrumentation for akka-http has a helper clas in it that was compiled against what looks like scala 2.11, and somewhere down the dep

[2019-06-21 19:12] dpratt commented on #896
After looking at this a bit more, the problems are due to Scala major version binary incompatibility.

I've whipped up https://github.com/DataDog/dd-trace-java/pull/899 as a fix - I've tested this locally, and there are no exceptions at agent initialization time and traces are successfully sent for Akka-http server spans.

[2019-06-25 14:00] mar-kolya commented on #850
@yeluolei  Unfortunately there is no update at this time.

[2019-07-01 12:40] Vovan2006 opened #903 "Question. Starting app(spring boot) fails with last version dd-java-agent.jar"
I am trying to start my app(spring boot) with last version dd-java-agent.jar, but it fails with following error:
Caused by: java.lang.NoSuchMethodError: io.opentracing.util.GlobalTracer.registerIfAbsent(Lio/opentracing/Tracer;)Z
    at io.opentracing.contrib.spring.tracer.configuration.TracerRegisterAutoConfiguration.registerToGlobalTracer(TracerRegisterAutoConfiguration.java:42)
Could anyone help

[2019-07-03 18:31] papauschek commented on #896
thanks for looking into this. had to roll back our scala 2.13 deployment because of this.

[2019-07-06 20:58] gygabyte commented on #808
same here.. any workaround available?

[2019-07-08 18:27] mar-kolya commented on #808
Hopfully #908 will help with this.

[2019-07-09 21:16] gygabyte commented on #808
@mar-kolya I have tested your change, but still the records(TopicPartition) is not being picked up by instrumentation. it is odd as it should be working... it should work by just building off master branch and use the dd-agent resulting from it?

[2019-07-09 21:22] mar-kolya commented on #808
@gygabyte yes, build from master should work. Would you be able to provide a simple example app that reproduces the problem?

[2019-07-09 21:32] gygabyte commented on #808
[code]
this code is written in Scala btw. it works if I switch to records(String)

[2019-07-10 15:45] mar-kolya commented on #808
@gygabyte could you please clarify what version of the kafka client are you using?

[2019-07-10 16:02] gygabyte commented on #808
@mar-kolya 2.1.1

[2019-07-10 17:49] mar-kolya commented on #808
@gygabyte could you please try #911

[2019-07-10 18:42] mar-kolya commented on #808
@gygabyte please scratch that, it won't work - but I think now I know why it won't work.

[2019-07-10 20:31] gygabyte commented on #808
I think I have figured out as well. It needs its own "ListAdvice" as the Iterable doesn't match the List<> type...

[2019-07-10 20:44] mar-kolya commented on #808
Yeah, and since it's a list fixing that is non trivial

[2019-07-10 21:32] tylerbenson commented on #896
@dpratt Thanks for the PR.  We'll include this in the next release.

[2019-07-11 15:42] dpratt commented on #896
Closed by https://github.com/DataDog/dd-trace-java/pull/899

[2019-07-11 15:43] #896 closed

[2019-07-11 22:52] MackenzieM commented on #851
+1 the documentation on how to set the MANUAL_KEEP flag for trace sampling seems to be out of date https://docs.datadoghq.com/tracing/guide/trace_sampling_and_storage/?tab=java

[2019-07-12 05:56] gygabyte commented on #808
I have a solution to fix this one that I have tested. It involves a new advice. Working through some stuff (legal) at the moment, but I hope to be making a contribution soon

[2019-07-12 13:08] mar-kolya commented on #808
@gygabyte #911 has been updated and hopefully will be merged at some point

[2019-07-12 17:55] gygabyte commented on #808
I don't know.. seems to be breaking another instrumentation

[2019-07-16 02:52] williamscs opened #918 "okhttp3 error on start"
I'm attempting to add the tracing libraries to my Spring Boot project.

I added these to my build.gradle:
[code]

When the application starts, I get this error:

If I change my imports to this:
[code]
then error goes away. I've cleared my gradle cache, but it still occurs.

[2019-07-16 03:52] williamscs commented on #918
I ran `$ gradle -q dependencyInsight --dependency okhttp3` and got this:
[code]

I have no idea what rule would enforce this. It doesn't look like there's another dependency asking for that version.

[2019-07-17 12:44] cemelo commented on #820
@tylerbenson another use case for this is people using Scala FP effect abstraction libraries (eg. monix, zio, cats-effect). They're async and act like green threads/fibers, and usually have their own scheduling rules. Because of this, a single operation might be executed by different threads.

[2019-07-22 02:00] schmohlio opened #926 "Play Integration doesn't capture all spans in request"
Greetings,

We are using Play framework and gRPC with the datadog APM. One request to Play may make multiple requests to gRPC in a single HTTP request.

We've noticed that without any additional instrumentation, tracing only captures the 1st gRPC span within the Play request. A reference architecture of this issue can be found here: https://github.com/schmohlio/dd-grpc-play-demo

We've opened tick

[2019-07-23 18:51] tylerbenson commented on #903
The method `registerIfAbsent` was added in OpenTracing `0.32.0`.  Our tracer currently only supports `0.31.0`.  Meanwhile you can try the build from this branch: #641.

[2019-07-25 14:46] dpratt opened #929 "0.31.0 release?"
Forgive me if this is not the appropriate communication channel - I can't find a discussion board, mailing list or gitter channel anywhere.

What's the plan/timeframe for the 0.31.0 release? It's been over a month since the previous release, and I suspect there are quite a few people waiting for some of the changes introduced since then.

[2019-07-25 19:07] tylerbenson commented on #929
Generally, our slack channel would be the better forum for this kind of stuff.  Sorry for the delay. I am starting the release process now.  It should be public later today.

[2019-07-25 19:39] dpratt commented on #929
I'll be damned - I had no idea there was one. Can I get access to it?

[2019-07-25 19:39] #929 closed

[2019-07-25 20:01] tylerbenson commented on #929
https://chat.datadoghq.com/

[2019-07-25 20:37] dpratt commented on #929
I just joined - which channel do you guys typically hang out on?

[2019-07-25 22:04] tylerbenson commented on #929
`#apm` is the best place to ask questions for APM.

[2019-07-25 23:31] tylerbenson commented on #614
This is included in https://github.com/DataDog/dd-trace-java/releases/tag/v0.31.0

[2019-07-25 23:31] #614 closed

[2019-07-25 23:32] tylerbenson commented on #808
This should be resolved in https://github.com/DataDog/dd-trace-java/releases/tag/v0.31.0

[2019-07-25 23:32] #808 closed

[2019-07-26 10:10] ikovalyov opened #931 "Kotlin coroutines support"
Hi.
I can see there is closed issue already: https://github.com/DataDog/dd-trace-java/issues/652
But it looks like agent is still having issues with coroutines support. See code/logs below:

[code]

[code]

As you can see, parent span is lost in the coroutine. Same issue happens with automated instrumentario (which is discovered on our datadog APM dashboard). Right now only spans created within th

[2019-07-26 13:48] #903 closed

[2019-07-26 16:00] dpratt commented on #896
I'm happy to report that the recently released 0.31.0 version works flawlessly with akka-http and scala 2.13.

[2019-07-26 19:56] tylerbenson commented on #896
Thanks for the update and contribution!

[2019-07-29 18:09] darin-holloway opened #933 "[feature-request] Auto-instrumentation of Queue listeners"
Would it be possible to auto-instrument any @SqsListener or @RabbitListener instances in spring boot apps.  Adding the the maven dependency and @Trace annotations to the code works, but requires build/deployment/qa effort that would have to be prioritized with our development teams.

[2019-07-30 17:56] Xyaren commented on #918
I experience a similar issue. Why are there no tests failing ?

[2019-07-30 21:06] tylerbenson commented on #933
We can look into this.  Meanwhile, you could get similar effect by adding those annotations to the `dd.trace.annotations` [configuration](https://docs.datadoghq.com/tracing/setup/java/#configuration).

[2019-07-30 21:19] darin-holloway commented on #933
Thanks @tylerbenson I'd noticed that, I'll do some testing on my side to see if I can shoehorn that into our app startup scripts by role

[2019-07-31 18:48] RayzorFlash commented on #848
@tylerbenson Is there a linked issue we can follow to keep up to date with the progress of the above change? Thanks!

[2019-08-01 08:53] labbati commented on #926
Hi @schmohlio and thanks for opening this issue. We are looking into this as a stability issue and this is having high priority in our list. Will update here as soon as possible.

[2019-08-01 14:12] brentm5 commented on #933
I am not sure if this also would be useful to address as part of #858 . I think some of this overlaps with trying to get better metrics out of async processes within applications.  That is something that right now we are having to solve internally and not getting OOB

[2019-08-01 20:50] rogerzxu commented on #926
Commenting to add more visibility to this issue.

We're encountering similar resource constraints in regards to object creation, it greatly impacts our CPU especially on application startup.

In regards to missing spans, we are also experiencing the same issue, but instead of gRPC, our downstream JDBC requests are not properly being associated with the root HTTP request.

[2019-08-01 21:11] jbachorik commented on #605
@vgarmash-chewy I don't mean to hijack this conversation but have you tried [BTrace](https://github.com/btraceio/btrace)? You can specify the instrumentation externally in pure annotated Java and then attach the agent on JVM startup or dynamically. It does not have OpenTracing support OOTB but should not be too difficult to do quick hack to see whether it is usable or not.

[2019-08-02 14:36] vgarmash-chewy commented on #605
WE

You are right - this conversation is about capabilities of Datadog Tracing agent which are not up to the level with other popular tracing solutions. The goal here is to provide feedback to the Datadog team so they can improve their agent.

[2019-08-02 21:18] tylerbenson commented on #896
@dpratt do you have any suggestions for how to change the instrumentation to support `bindAndHandle`, not just `bindAndHandleSync` and `bindAndHandleAsync`?

[2019-08-05 18:42] randomanderson commented on #918
There's a transient dependency from that version of `opentracing-spring-cloud-starter` TO `openfeign-feign-okhttp` TO an older version of okhttp.  Your options are:

- Manually set the okhttp dependency in your gradle file

OR

- Exclude the transitive dependency

[2019-08-06 10:39] knokio commented on #677
It was solved by upgrading the JRE

[2019-08-06 10:39] #677 closed

[2019-08-06 10:42] knokio opened #938 "Every new run creates dozens of .jar in /tmp"
We have been dealing with something really strange for a few months: thousands of "jarXXXX.jar" in /tmp in the machines running JVM with dd-trace-java.

I investigated and concluded that each JVM run (cronjobs running java commands) generate ~40 of these jar files.

What are they? Why aren't they cleaned up? Attached are some screenshots.

<img width="306" alt="Screenshot 2019-08-06 at 11 42 00" s

[2019-08-06 14:15] randomanderson commented on #938
This is a known issue with Byte Buddy.  Classes need to be in a jar in order to be injected into the bootstrap classloader.  Byte Buddy was not deleting those jars after use.

We resolved this issue with ByteBuddy a few days ago (https://github.com/raphw/byte-buddy/pull/698 and https://github.com/raphw/byte-buddy/commit/89f85680748ee307044ee7558cd5a4a845592ddc) . It will be fixed here once we upda

[2019-08-06 15:10] knokio commented on #938
Thanks for the quick reply @randomanderson. I'll wait for the next release

[2019-08-06 16:09] tylerbenson commented on #938
Should be fixed in #940

[2019-08-08 06:30] changjiang2016 opened #943 "Build failed"
When I gradlew build from the root project,the error  about the jmh occured,event though I run the gradle command ./gradlew --continue build.
Execution failed for task ':dd-java-agent:benchmark:compileJmhJava'.

         null

[2019-08-08 16:38] knokio commented on #938
It's ok @tylerbenson we'll wait. Should I close the ticket?

[2019-08-08 16:42] tylerbenson commented on #938
We will close it when it gets released.  Thanks for the report.

[2019-08-08 16:44] tylerbenson commented on #943
Thanks for the report... We can certainly look into fixing this, but meanwhile we usually don't use the `build` task.  If you want to build the agent jar, try running this task: `:dd-java-agent:shadowJar`

[2019-08-08 17:59] ctoestreich opened #944 "Kafka Header Still Added To Older Clients using Hystrix"
We were seeing errors using version 0.24.0 of the java apm agent using older kafka stack.  We upgraded to 0.31.0 to try and get the fix from 0.28.0, however we are still seeing the issue wher it tries to add a header.  This MAY be due to thee addition of hystrix instrumentation as well.  We are still investigating.  Stack from our logs .

[code]

[2019-08-08 18:13] ctoestreich commented on #944
We are going to try using a combination of these to see if one or the other resolves the issue

DD_INTEGRATION_KAFKA_ENABLED=false
DD_INTEGRATION_KAFKA_STREAMS_ENABLED=false
DD_INTEGRATION_HYSTRIX_ENABLED=false

[2019-08-09 01:26] williamscs commented on #918
Thanks so much. We're definitely using openfeign.

[2019-08-09 01:26] #918 closed

[2019-08-09 13:44] ctoestreich commented on #944
We next tried

DD_INTEGRATION_KAFKA_ENABLED=true
DD_INTEGRATION_KAFKA_STREAMS_ENABLED=true
DD_INTEGRATION_HYSTRIX_ENABLED=false

and the issue has returned

[2019-08-09 15:55] hopperd opened #945 "Ability to configure hostname at runtime"
We run our Java applications inside of Docker containers on Amazon ECS and need to configure the hostname at runtime of the application to fetch the local-ipv4 from the EC2 Metadata service.

Described here for python as an example: https://docs.datadoghq.com/integrations/amazon_ecs/?tab=python#trace-collection

We need the ability to configure the same thing for Java but it isn't clear how to acc

[2019-08-11 23:03] nhoughto opened #946 "OpenTracing API 0.33 support / intent"
Dropped this in slack last week but got nothing, so putting here so i don't have to keep checking slack for an answer (slack not a great medium for this kind of thing i find!).

Having a great time getting things instrumented, was interested to know about the roadmap for releasing against opentracing-api versions? Specifically the Java SDK. It seems that the opentracing-contrib projects like AWS S

[2019-08-13 23:17] andrewsouthard1 commented on #429
@nhoughto @devstuff We've made some progress towards this effort here: https://github.com/DataDog/dd-trace-java/pull/934 however there may still be reliance on read-only for certain instrumentation. Would your teams be willing to try out the latest version: https://github.com/DataDog/dd-trace-java/releases/tag/v0.31.1 to confirm whether you are still receiving this exception?

[2019-08-13 23:20] andrewsouthard1 commented on #946
Hey @nhoughto - that's accurate and we're working on removing the dependency from the Java Tracer. This is a large effort but we're targeting by end of the year - any updates and we'll keep you posted on it.

[2019-08-14 07:26] changjiang2016 opened #950 "Jaeger surport?"
Recently I have been paying attention to this projectand ，but found no support for jaeger.Do you have plans to support jaeger access?how？

[2019-08-14 07:41] changjiang2016 commented on #943
@tylerbenson,Thank you for your reply.The tips works.But a problem  occured when I import the project to IDEA.,The IDEA import dependency fails because of the dependency download timeout. So I can't use IDEA for code editing. It is nightmare for me.Have you encountered this situation? How do you import IDEA in actual production?Thank you

[2019-08-14 07:57] changjiang2016 commented on #946
I found the problem too.The 0.32 version of opentracing is compatible with 0.31. Therefore, you can make corresponding changes when temporarily using the source code locally to override the method that 0.31 does not implement, and you can temporarily return null. I did this locally,and it works.Of course this is a temporary way, if you need to upgrade opentracing.

[2019-08-14 08:06] changjiang2016 commented on #938
If you do not want creates dozens of .jar in /tmp,you can try to  specify the parent directory of the tmp directory using the java method like this.
public static File createTempFile(String prefix, String suffix,File directory).I don't know if the community doesn't support this, it's just a suggestion.

[2019-08-16 09:40] pyoio opened #954 "DDTracer builder pattern / problem with propagation config loading"
In the DDTracer class, [lines 236-238](https://github.com/DataDog/dd-trace-java/blob/65c6b1fa97c23f572698cd6c30cf7cedd97d182f/dd-trace-ot/src/main/java/datadog/opentracing/DDTracer.java#L236-L238) indicate there's an intention to move to a builder pattern to avoid constructor explosion, is there an ETA on this?

We're in a position where we use Lightbend Configuration for our entire ecosystem, we

[2019-08-16 14:30] tylerbenson commented on #943
there are certainly a LOT of dependencies that get downloaded.  It might help to prime the cache by running a `gradle test` first, since I believe it shares the same cache as the command line.  Another option would be to temporarily comment out a bunch of projects in `settings.gradle` and see if that helps.

[2019-08-26 06:08] tanvn opened #962 "JVM Metrics not show for applications run on Fargate using Play Framework 2.7"
We have an application based on Play framework 2.7.
In the task definition, besides the application container, I added the datadog-agent container as follow :

[code]

I am using the JavaAgent 0.31.2 as the dependency in sbt.
`"com.datadoghq" % "dd-java-agent" % "0.26.2"`

I also added the follow options when start the application

[code]

But it can make the JVM metrics show up.

<img width="1781

[2019-08-26 08:02] tanvn commented on #962
I just tried to debug the agent, and found that this log has been printed
[code]
Should I change or add some settings to my app ?

[2019-08-26 08:03] tanvn commented on #962
And here is the config used for JMXFetch

[code]

[2019-08-26 18:21] aarya123 opened #965 "Couchbase integration dropping trace"
We are currently using the couchbase java client version 2.7.9 and our calls to the buckets seem to be dropping the trace. After digging into the code a bit, I believe the source of the errors are from the fact that the base couchbase client pulls in netty into a different package, which is preventing the netty event loop integration from working: https://github.com/couchbase/couchbase-jvm-core/bl

[2019-08-28 01:30] tanvn commented on #962
Don't worry about this, I managed to make the JMX display.
It turned out the metrics are sent successfully but I forgot to give it a tag, so it did not show up when I filtered the environment tag.

[2019-08-28 01:30] #962 closed

[2019-08-29 10:27] milanvdm opened #967 "akka-http-server integration not working with 10.1.7"
I enabled `akka-http` and `akka-http-server` using `dd-trace-java` version 0.31.2.

I get apm metrics from `akka-http` calls, but not for `akka-http-server`.

[2019-08-30 22:15] randomanderson commented on #938
This has been resolved in the 0.32.0 release

[2019-08-30 22:15] #938 closed

[2019-08-31 14:21] milanvdm commented on #967
This was cause by us using `bindAndHandle` instead of `bindAndHandleAsync`.

[2019-08-31 14:21] #967 closed

[2019-08-31 14:23] milanvdm commented on #893
We have the same issue with akka-http-server and akka-http-client.
Both parts show up in a separate span/with a different trace-id.

[2019-08-31 14:27] milanvdm commented on #893
Seems to be related to https://github.com/DataDog/dd-trace-java/issues/800

[2019-08-31 19:56] hopperd commented on #945
Yes that is what I ended up having to do, just would be nice to also be able to set this at runtime to make is very easy to configure with Spring Boot AutoConfiguration

[2019-09-04 19:57] dmitrys-svsgco opened #977 ""Protocol wrong type for socket" error using UDS"
### "Protocol wrong type for socket" error happens using UDS.

Datadog agent is deployed to Kubernetes by
[code]

Java application is deployed by (debug is enabled):
[code]
The following error happens every time opening socket connection:
[code]
What could be the reason?
I will be glad to provide all required information if needed.
Thanks!

[2019-09-05 06:17] dsielert opened #978 "Annotations not working"
datadog.trace.api.Trace is not in the default trace annotations?
And adding it with the environment variable or using one of the others, I still get zero custom instrumentation

[2019-09-05 23:45] tylerbenson commented on #978
That annotation is handled separately.  The custom list you mentioned is *in addition to*...  I think the best way forward is to contact support directly.  This is a difficult forum for in depth troubleshooting.

[2019-09-05 23:45] #978 closed

[2019-09-06 17:04] marcoferrer commented on #931
If this is still an issue, would you be able to provide details as to what version of coroutines and dd you used to produce the sample above?

[2019-09-06 17:20] marcoferrer opened #981 "Grpc server interceptor error taging differs from client behavior"
At the moment there is a discrepancy with how spans are tagged in the client interceptor vs the server interceptor. Any status other than `Status.OK` is tagged as an error, yet the server will only tag spans with error if service method invocation throws an exception.

This makes it difficult to visualize service errors in the APM dashboard. Particularly when clients are external and not instrumen

[2019-09-06 17:27] tylerbenson commented on #981
Thanks for the PR!  I'll continue discussion over there.

[2019-09-06 17:52] dragisak opened #982 "[0.32.0] Getting Provider com.fasterxml.jackson.module.paranamer.ParanamerModule not found"
When we upgraded from 031.2 to 032.0 we started getting this error:

[code]

We use `logback-classic` (1.2.3) with `logstash-logback-encoder` (6.1)

[2019-09-06 18:41] randomanderson commented on #982
Are you using the tracer purely as a java agent or are you implementing custom tracing with `dd-trace-api` and/or `dd-trace-ot`?

[2019-09-06 21:04] dragisak commented on #982
Purely as java agent. Here is our command line:
[code]
Just switching path to `dd-java-agent-0.32.0.jar` throws that error when logging gets instantiated.

[2019-09-06 21:33] tylerbenson commented on #982
Interesting... it seems you're disabling tracing and you're using it purely for JMXFetch?

Can I suggest contacting support@datadoghq.com?  They will have an easier time digging into details.

[2019-09-06 22:26] dragisak commented on #982
My guess is that there is some incompatibility between versions of Jackson we use and the version agent uses.

[2019-09-06 22:36] dragisak commented on #982
I would recommend "shading" your 3rd part jars before packaging them into java agent. Otherwise, you risk conflicts with libraries your users use.

[2019-09-09 13:43] mbrouer commented on #618
Looks like the bug was reintroduced in version 0.22.

[2019-09-10 07:16] ikovalyov commented on #931
Hi @marcoferrer , thanks for your reply!
I created a sample application to demonstrate the issue. Unfortunately it's still exists.

https://github.com/ikovalyov/dd-tracing-coroutines-issue

[2019-09-10 13:02] andrewsouthard1 commented on #931
@ikovalyov Thanks for providing a sample application! Our team will take a look into this to investigate and reach out with our findings.

[2019-09-10 16:36] tylerbenson commented on #944
What Kafka client and broker version are you using?

[2019-09-10 18:01] nnordrum commented on #944
He’s using 0.10.2.0-cp1

[2019-09-10 20:39] marcoferrer commented on #931
Looking at your example now I noticed that since you're manually constructing a span it would need to have `setAsyncPropagation(true)` in order to be passed down during executor instrumentation.

I made the following tweak to your example and got the correct output.
[code]

Output:
[code]

Im not entirely sure if there is a way for instrumentation to know when a scope should be made async automati

[2019-09-10 20:57] ikovalyov commented on #931
Thanks, I'll try this approach.

[2019-09-10 23:21] tylerbenson commented on #931
Good catch @marcoferrer.  I'm pretty confident that will solve the problem.  We want to evaluate better options in a future API refactor to allow us to remove the need to set that flag, but for now it is required.

I'll go ahead and close this.  Please reopen if you still have issues with it.

[2019-09-11 12:05] ikovalyov commented on #931
I can confirm this approach worked. Perviously we had many spans missed in the DD APM. Now we have all the data listed. Unfortunately this method is quite verbose. It would be really nice if agent would be smart enough to automatically set asyncPropagation to true if it's related to the suspend function or coroutine builders are called.
As a more easy way to make it less verbose I can also suggest

[2019-09-11 16:54] tylerbenson commented on #931
We realize this is not ideal.  We have plans to improve it/remove the need for it, but not in the immediate term.  Sorry for the trouble.

[2019-09-13 13:41] randomanderson commented on #893
@jack-garner We've made some significant improvements to the netty instrumentation in the 0.32.0 and 0.32.0 releases.  Can you please try again with an updated version and let us know if the issue persists?

[2019-09-13 15:34] Daenyth opened #991 "Agent spawns non-daemon threads preventing JVM exit when returning from `main`"
I'm observing an issue where my application doesn't exit when it returns from `main`.

When I use visualvm to debug, I see non-daemon threads referencing `DatadogClassLoader`

I'd prefer if the JVM exited when `main` returns.

![Screen Shot 2019-09-13 at 11 34 27 AM](https://user-images.githubusercontent.com/14644/64875160-7c097880-d61a-11e9-98b0-24601edd8fa6.png)

As a workaround right now I call

[2019-09-13 16:49] randomanderson commented on #965
PR had to be reverted for this release

[2019-09-16 15:58] tylerbenson commented on #618
@mbrouer do you mean 0.32?  Can I suggest you contact support to provide details? support@datadoghq.com

[2019-09-16 19:27] randomanderson commented on #981
Released

[2019-09-16 19:27] #981 closed

[2019-09-16 19:28] randomanderson commented on #717
Released

[2019-09-16 19:28] #717 closed

[2019-09-17 11:28] mbrouer commented on #618
The fix only works in version 0.20 and 0.21.. Looks like the bug was reintroduced in version 0.22.
Version 0.32 also has the bug.

Curently I'm stuck on version 0.21

[2019-09-19 01:56] tanvn opened #1004 "Locally build caused Missing class"
I tried to build dd-java-agent on my local PC by using the command `./gradlew dd-java-agent:shadowJar` (and `./gradlew dd-java-agent:build` as well).
But when using the jar created from the above commands and run my Java application with option `-Ddatadog.slf4j.simpleLogger.defaultLogLevel=debug` I found the following logs :
[code]
It seems that the jar is not built properly.
I want to build local

[2019-09-19 11:24] Noxaro commented on #848
Are there any updates on this issue?
I wanted to use => https://github.com/opentracing-contrib/java-redis-client to instrument redisson for tracing. But currently it's impossible as all the newer versions are using the opentracing api 0.32+.

[2019-09-20 02:19] tanvn commented on #1004
I found that the above logs are shown but the jar is good.
I have built the jar locally successfully.
sorry for the inconvenience.

[2019-09-20 02:19] #1004 closed

[2019-09-20 03:00] tanvn opened #1006 "SQL Query is not captured when using scalikejdbc library in play framework"
Hi,
My team is using [scalikejdbc](http://scalikejdbc.org/) to interact with Postgres Database.
Using Datadog APM, we found that the query is not captured properly, it always displays `DB Query` (as the default text when the sql is not found given the statement, related code is [here](https://github.com/DataDog/dd-trace-java/blob/master/dd-java-agent/instrumentation/jdbc/src/main/java/datadog/trac

[2019-09-20 18:13] tylerbenson commented on #850
I think I figured out the problem and have a fix for it here: https://github.com/DataDog/dd-trace-java/pull/1008

It depended on which executor was used for the `asyncPool` inside `CompletableFuture`:

[code]

`ForkJoinPool` was instrumented, `ThreadPerTaskExecutor` was not.

Please let me know if you'd be able to validate the fix with a snapshot build.

[2019-09-20 20:55] tylerbenson commented on #618
@mbrouer please contact support. We have a [test](https://github.com/DataDog/dd-trace-java/blob/master/dd-smoke-tests/wildfly/src/test/groovy/datadog/smoketest/WildflySmokeTest.groovy) that does some validation of Wildfly, so more detail for how we can reproduce would be helpful to include in the support email.

[2019-09-21 05:13] yeluolei commented on #850
@tylerbenson will check it ASAP, thanks! but we didn't do anything to disable useCommonPool. let me have a try.

[2019-09-24 09:54] opteemister opened #1012 "Over consumption of Heap memory after v0.32 (v.033 also)"
Hello.

Pre-story:
We've upgraded dd-java-agent.jar to v.033 and started having problems with our services (java 8) running in a Docker container. All containers have limited memory. Services doesn't have limits for heap memory (no xms, xmx set). So in current configuration heap memory has dynamic size which depends on total memory available for a container. (e.g. container limit is 500mb, heap me

[2019-09-26 01:56] tylerbenson commented on #850
Here's a snapshot build to try: https://oss.jfrog.org/artifactory/oss-snapshot-local/com/datadoghq/dd-java-agent/0.34.0-SNAPSHOT/dd-java-agent-0.34.0-SNAPSHOT.jar

Let me know if that helps.

[2019-10-02 00:28] devinsba opened #1018 "Bug in Sampler code"
While reading the code I came across what seems like a bug:

https://github.com/DataDog/dd-trace-java/blob/9771a6c90fd2ce8d0a9cee28e38b9e32b759b2d4/dd-trace-ot/src/main/java/datadog/trace/common/sampling/RateByServiceSampler.java#L118...L120

It would seem to me that, unless you mean disable sampling (record/report) everything, that this should be 0

EDIT:

after reading the code some more it seem

[2019-10-02 01:00] #1018 closed

[2019-10-02 13:19] dougqh commented on #1018
I think both interpretations (either no samples or no sampling) could make sense.  But yes, right now, this is working as we intended.

[2019-10-08 11:31] yeluolei commented on #850
@tylerbenson  thanks for your help, it works now! I will close this issue and wait for the next release

[2019-10-08 11:31] #850 closed

[2019-10-09 16:53] william-tran opened #1036 "The first baggage item cannot be added in the second service"
Consider services `A -> B -> C` where calls are over HTTP.  `A` does not add baggage. When `B` calls `Span.setBaggageItem(k,v)` an exception is thrown:
[code]

This happens because:
1. `DatadogHttpCodec.extract` first initializes the baggage local variable as a `Collections.emptyMap`: https://github.com/DataDog/dd-trace-java/blob/v0.33.0/dd-trace-ot/src/main/java/datadog/opentracing/propagation/Da

[2019-10-10 09:45] #1036 closed

[2019-10-10 09:48] randomanderson commented on #1036
Thanks for this investigation.  I merged your pull request.

I think the code in `DatadogHttpCodec`, the other codecs, and `DDSpanContext` can use some further cleanup and simplification.  I'll look into it at a later date.

[2019-10-11 15:33] tylerbenson commented on #991
Thanks for the report.  It's odd because we have tests that explicitly check this... What version of the tracer are you running?  Any way you could provide more detailed explanation on how to reproduce the problem?

[2019-10-11 15:34] tylerbenson commented on #950
We don't currently have plans to support Jaeger.  If you have a specific feature request, feel free to contact support@datadoghq.com

[2019-10-11 15:34] #950 closed

[2019-10-11 18:26] Daenyth commented on #991
We have 0.30.0 of the dd-java-agent jar deployed with our app, which is on heroku.

I notice the thread name from the heap dump above hints that it's from a generic thread factory that isn't naming its threads - so that rules out some of the possible options.

Could it be that something the agent is using is itself making this thread pool?

[2019-10-14 14:51] jakubclark opened #1043 "Using @Trace for a separate service"
Hi,

I was wondering if there is an easy way of Using the `@Trace` annotation to make a method be part of a separate service.

For example, using the python's `dd-trace-py`, it is possible to write:
[code]

This would make this span be considered to be in a separate service called "http_backend".

Would this also be possible using `dd-trace-java`?

[2019-10-15 11:21] rutgermirabeau commented on #1012
I tested the new 0.34.0 agent with a Java 11 Spring Boot application. Docker memory limit is 512mb with -XX:+UseContainerSupport -XX:MaxRAMPercentage=50 as memory settings in the JAVA_OPTS.

The 0.34.0 agent part in the graph is where the memory usage is almost 100%. With the 0.31.2 agent the memory usage is ~70%
![Screenshot from 2019-10-15 13-17-19](https://user-images.githubusercontent.com/1839

[2019-10-15 16:53] tylerbenson commented on #1012
@rutgermirabeau The problem you're seeing is we are trying to strike a balance between not using too much memory, but also keeping the startup time overhead minimal, all while avoiding adding an additional config setting.  Making that cache too small would result in discarding cached values that may need to be regenerated.  We tried to balance this in two ways.

1. The cache values are expired and

[2019-10-15 16:55] #965 closed

[2019-10-15 16:56] tylerbenson commented on #965
@aarya123 This is fixed in 0.34.0.

[2019-10-15 16:58] tylerbenson commented on #1012
@opteemister please try out 0.34.0 and let us know if it helps.  I closed the issue for now, but we can reopen it if we need further consideration.

[2019-10-15 17:03] tylerbenson commented on #991
I guess it's possible, but I can't say for sure.  If you take a thread dump, does it show anything interesting being executed by the thread?

[2019-10-15 17:07] dougqh commented on #1043
While we don't support it today, I do think we implement something similar in spirit to the Python tracer.

Perhaps by creating a special interface that specifies what type and which methods to target...

[code]